<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>品珍鲜活</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"  />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="/public/app/b2c/statics/touchscreen/wap.css">
<script type="text/javascript" src="/public/app/wap/statics/js_mini/jquery.min.js"></script>
<script type="text/javascript" src="/public/app/wap/statics/js_mini/swipe.min.js"></script>
<script type="text/javascript" src="/public/app/b2c/statics/touchscreen/wap.js"></script>
<body>
<div class="main" id="main">
	<div class="banner" id="banner"></div>
	<div class="footer" id="footer"></div>
</div>
<div class="loading" id="loading"></div>
</body>
</html>