<form
	action="<{link app=b2c ctl=wap_passport act=create args01=$next_url}>"
	method="post" class="form" data-type="ajax">
	<input name="forward" type="hidden" value="<{$options.url}>"> <input
		name="mini" type="hidden" value="<{$mini_passport}>">


	<div class="header">
		<div>
			<img style="width: 100%;"
				src="<{$IMG_PZFRESH}>/public/app/b2c/statics/images/loginbg.jpg">
		</div>
	</div>
	<div class="am-g">
		<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
			<br>

			<form method="post" class="am-form am-form-horizontal">
				<label for="mobile" style="clear: both; width: 100%;">手机号:</label>
				<div class="am-input-group" style="width: 70%; float: left">
  
  <input type="text" name="mobile" id="mobile"  value="" class="am-form-field a-account" placeholder="请输入手机号">
</div>
				
				
				 <{* <input
					type="mobile" name="mobile" id="mobile" class="a-account" value=""
					style="width: 70%; float: left"> *}> <a
					href="<{link app=b2c ctl=wap_passport act=send_vcode_sms}>"
					style="line-height:1.6;height:41px;width: 30%; float: right; text-align: center"
					class="  am-btn am-btn-warning am-btn-sm am-fl btn-send1 ">获取验证码</a>
				<br> <label for="" style="clear: both; width: 100%;">
					短信验证： </label> 
					
					<div class="am-input-group"  style="width:100%;">
  
  <input type="text" class="am-form-field"  id="vcode" name="vcode" maxlength="6"
					placeholder="短信验证码"  pattern=".{6,20}">
</div>
					
					<{* <input type="" id="vcode" name="vcode" maxlength="6"
					placeholder="短信验证码" required="required" pattern=".{6,20}"
					class="text" data-caution="短信验证码不能为空"> *}> <label
					for="password" style="clear: both; width: 100%;">密码:</label>
					
					<div class="am-input-group"  style="width:100%;">
 
  <input type="password" id="password" class="am-form-field" placeholder="请输入密码">
</div>
					 <!-- <input
					type="password" name="" id="password" value="" class="text"> -->
				<br />
				<div class="c-g-c">
					<input type="checkbox" name="license" id="license"
						checked="checked"> <label for="license"> <{t}>同意<a
						href="<{link app=b2c ctl=wap_passport act=license}>"
						class="license lnk">注册协议</a><{/t}>
					</label>
				</div>
				<div class="am-cf">
				<input type="button" id="ajax_login" name="" value="登 录" 
				 onclick="javascript:window.location.href='passport.html'"
						class="am-btn am-btn-primary am-btn-sm am-fl">
					<input type="button" id="ajax-singup" name="" value="立即注册"
						class="am-btn am-btn-warning am-btn-sm am-fl"
						style="margin-left: 10px;">
				</div>
			</form>
			<hr>
			<p>© 2015 pzfresh.com, Inc. 品珍鲜活版权所有</p>
		</div>
	</div>




</form>
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert-signup">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">错误</div>
    <div class="am-modal-bd">
      
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>
<script>
	$(document)
			.ready(
					function() {
						$('.form .btn-send1').click(
								function(e) {
									e.preventDefault();
									var el = $('.form .a-account');
									if ($(this).hasClass('disabled'))
										return false;
									sendVerify(this, 'uname=' + el.val()
											+ '&type=signup');
								});

						function sendVerify(el, data) {
							var url = el.href;
							$(el).addClass('disabled');
							var cd = new countdown(el,
									{
										start : 120,
										secondOnly : true,
										callback : function(e) {
											$(el).removeClass('disabled').html(
													'重发验证码');
										}
									});
							$.post(url, data, function(rs) {
								if (rs) {
									try {
										rs = $.parseJSON(rs);
									} catch (e) {
									}
									if (rs.error) {
										$(el).removeClass('disabled').html(
												'重发验证码');
										clearTimeout(cd.timer);
										if (typeof rs.error === 'string')
											alert(rs.error);
									}
								}
							});
						}

						$("#ajax-singup")
								.bind(
										"click",
										function() {

											$
													.ajax({
														url : "<{link app=b2c ctl=wap_passport act=create args01=$next_url}>",

														type : 'POST',

														data : {
															"pam_account[login_name]" : $(
																	'#mobile')
																	.val(),
															"vcode":$('#vcode').val(),
															"license":$('#license').is(':checked')?'on':false,
															"pam_account[login_password]" : $(
																	'#password')
																	.val()
														},

														dataType : 'html',

														timeout : 3000,

														error : function() {
															$('#my-alert-signup')
															.children(
																	'.am-modal-dialog')
															.children(
																	".am-modal-bd")
															.html('请求失败');
													$('#my-alert-signup')
															.modal();
															//alert('请求失败');
														},

														success : function(
																result) {
															jsonobj = eval('('
																	+ result
																	+ ')');
															if (jsonobj.success) {
																location.href = jsonobj.redirect;
															} else {
																$('#my-alert-signup')
																		.children(
																				'.am-modal-dialog')
																		.children(
																				".am-modal-bd")
																		.html(
																				jsonobj.error);
																$('#my-alert-signup')
																		.modal();
															}
														}

													});
										});
					});
</script>
