<div class="am-modal am-modal-alert" tabindex="-1" id="js-tips">
  <div class="am-modal-dialog">
  <div class="am-modal-hd"><a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a></div>
    <div class="am-modal-bd"  id="js-tips_msg">
      	提交成功！
    </div>
  </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="js-alert">
  <div class="am-modal-dialog">
  <div class="am-modal-hd"><a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a></div>
    <div class="am-modal-bd" id="js-alert_msg">
      	提交成功！
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" id="js-alert_bnt1">确定</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="js-alert-confirm">
  <div class="am-modal-dialog">
  <div class="am-modal-hd"></div>
    <div class="am-modal-bd" id="js-alert-confirm_msg">
      你，确定要删除这条记录吗？
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-confirm id="js-alert-confirm_bnt1">确定</span>
      <span class="am-modal-btn" data-am-modal-cancel id="js-alert-confirm_bnt2">取消</span>
    </div>
  </div>
</div>

<!-- 加入购物车弹出框  -->
<div id="modalAddToCart" class="am-modal am-modal-alert" tabindex="-1">
	  <div class="am-modal-dialog">
	    <div class="am-modal-bd">
	    </div>
	    <div class="am-modal-footer">
	    	<span class="am-modal-btn" data-am-modal-confirm >进入购物车</span>
	      	<span class="am-modal-btn" data-am-modal-cancel >继续购物</span>
	    </div>
	  </div>
</div>
<!-- 加入购物车弹出框 -->

<!-- 提交等待 弹出框 -->
<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="cart-modal-loading">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">正在提交...</div>
    <div class="am-modal-bd">
      <span class="am-icon-spinner am-icon-spin"></span>
    </div>
  </div>
</div>
<!-- 提交等待 弹出框 -->

<script type="text/javascript">
function js_alert(id,msg,bnt1,bnt2,funYes,funNo){
	$('.am-modal-loading').modal('close');
	var bnt1=arguments[2]?arguments[2]:'确定';
	var bnt2=arguments[3]?arguments[3]:'取消';
	var funYes=arguments[4]?arguments[4]:'';
	var funNo=arguments[5]?arguments[5]:'';
	$('#'+id+'_msg').html(msg);
	$('#'+id+'_bnt1').html(bnt1);
	$('#'+id+'_bnt2').html(bnt2);
	if(id == 'js-alert-confirm'){
		$('#js-alert-confirm').modal({
	        relatedTarget: this,
	        onConfirm: function(options) {
	        	funYes();
	        },
	        onCancel: function() {
	        	funNo();
	        }
	      });
	}else{		
		$('#'+id).modal();
	}
}
	
	$(document).ready(function(){
		
		//加入购物车 操作
		$('.btnAddToCart').click(function(){
			//弹出等待框
			$('#cart-modal-loading').modal();
			
			var obj = $(this).siblings(".formaddcart");
			
//			console.log(obj);
	        $.ajax({
	            url:'/wap/cart-add-goods.html',
	            data:obj.serialize()+'&mini_cart=1',
	            method:'POST',
	            dataType:'json',
	            success:function(data){
					//隐藏等待框
					$('.am-modal-loading').modal('close');
					
	                if(data.success){
						$('#modalAddToCart').find('.am-modal-bd').html('加入购物车成功');
	                    $('#modalAddToCart').modal({
							relatedTarget: this,
								//进入购物车
						      onConfirm: function(e) {
						         window.location.href='/wap/cart.html';
						      },
							  	//继续购物
						      onCancel: function(e) {
						        return false;
						      }
							
						});
	                }
	                else{
						$('#modalAddToCart').find('.am-modal-bd').html(data.error);
	                    $('#modalAddToCart').modal();
	                }
	
	            }
	        });
	    });
		
		//搜索按钮提交
		$(".search_btn").bind("click",function(){
			$(".search_form").submit();
		})
	});
</script>

<script type="text/javascript">
    (function(){
        //tab组建
        $('.J-tab .trigger').on('tap',function(e){
            if($(this).attr('data-url') && $(this).attr('data-url') != 'true'){
                $.get($(this).attr('data-url'),function(re){
                    $($('.J-tab .panel')[$(this).index()]).append(re);
                }.bind(this));
                $(this).attr('data-url','true');
            }
            $(this).add($('.J-tab .panel')[$(this).index()]).addClass('act').siblings('.act').removeClass('act');
        });


        
        //点击更换验证码
        function changeVerify(element, hasEvent) {
            $.each(element,function(){
                var url;
                var img;
                var el = this;
                if(el.tagName === 'IMG') {
                    img = el;
                    url = el.getAttribute('src').split('?')[0];
                }
                else if(el.tagName === 'A') {
                    img = el.previousElementSibling;
                    url = el.getAttribute('href');
                }
                if(hasEvent) $(el).on('touchend click', function(e){e.preventDefault();}).on('tap longTap', changeCode.bind(el, img, url));
                else changeCode(img, url);
            });
        }
        function changeCode(img, url){
            url = url || img.src.split('?')[0];
            var random = +new Date;
            img.src = url + '?' + random;
            return false;
        }
        changeVerify($('form .auto-change-verify-handle'), true);

        $(document).on('submit', 'form', function(){
            var sel = $('.region select'),
                region_false = false;
            $.each(sel,function(){
                if((this.style.visibility == 'visible') && (this.selectedIndex==0))
                    region_false = true;
            });
            if(region_false){
            	js_alert('js-alert','请选择完整地区！');
                return false;
            }

            var required = $(this).find('input[required]');

            if(required.length){
                var checkEmpty = false, ipt;
                $.each(required,function(){
                    ipt = $(this);
                    if(ipt.val()=='' && ipt.offset().height){
                        checkEmpty = ipt;
                        if(ipt.attr('data-caution'))
                        	js_alert('js-alert',ipt.attr('data-caution'));
                        return false;
                    }
                });
                if( checkEmpty )return false;
            }
            if($(this).attr('data-type') == 'ajax'){
                var self = $(this);
                $(this).find('[type=submit]').prop('disabled', true);
                $[$(this).attr('method')]($(this).attr('action'),$(this).serialize(),function(re){
                    try{
                        re = JSON.parse(re);
                    }catch(e) {}
                    var update = self.attr('data-update');
                    if(re.error){
                        if($('form .auto-change-verify-handle').length > 0){
                            $('form .auto-change-verify-handle').trigger('tap');
                        }
                        self.find('[type=submit]').prop('disabled', false);
                        return js_alert('js-alert',re.error);
                    }else{
                        if($(update).size()) {
                            $(update).html(re);
                        }
                        else {
                            $('#success .checkout-success').html(re.success);
                            $('#js-tips').modal();
                            setTimeout(function(){location.href = re.redirect},1000);
                        }
                    }
                });
                return false;
            }else{
                return true;
            }
        });


        var e = $.cookie('UNAME')?$.cookie('UNAME'):'',
            cartNum = $.cookie('S[CART_NUMBER]')?$.cookie('S[CART_NUMBER]'):'';
        if(e){
            $("#footerloginuname").text(decodeURIComponent(e));
            $("#footerlogout").show();
            if($("#footerlogin"))
            $("#footerlogin").hide();
        }else{
            $("#footerlogin").show();
            if($("#footerlogout"))
            $("#footerlogout").hide();
        }
        if(cartNum)$('.cart-num').html(cartNum).show();
        else $('.cart-num').hide();
    })();
</script>

<{if $from_weixin}>
<script>

var appid = '<{$weixin.appid}>';
var imgUrl = "<{$weixin.imgUrl}>";
var lineLink = "<{$weixin.linelink}>";
var shareTitle = "<{$weixin.shareTitle}>";
var descContent = "<{$weixin.descContent}>";

function shareFriend() {
    WeixinJSBridge.invoke('sendAppMessage',{
                            "appid": appid,
                            "img_url": imgUrl,
                            "img_width": "640",
                            "img_height": "640",
                            "link": lineLink,
                            "desc": descContent,
                            "title": shareTitle
                            }, function(res) {
                            _report('send_msg', res.err_msg);
                            })
}
function shareTimeline() {
    WeixinJSBridge.invoke('shareTimeline',{
                            "img_url": imgUrl,
                            "img_width": "640",
                            "img_height": "640",
                            "link": lineLink,
                            "desc": descContent,
                            "title": shareTitle
                            }, function(res) {
                            _report('timeline', res.err_msg);
                            });
}
function shareWeibo() {
    WeixinJSBridge.invoke('shareWeibo',{
                            "content": descContent,
                            "url": lineLink,
                            }, function(res) {
                            _report('weibo', res.err_msg);
                            });
}
// 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

        // 发送给好友
        WeixinJSBridge.on('menu:share:appmessage', function(argv){
            shareFriend();
            });

        // 分享到朋友圈
        WeixinJSBridge.on('menu:share:timeline', function(argv){
            shareTimeline();
            });

        // 分享到微博
        WeixinJSBridge.on('menu:share:weibo', function(argv){
            shareWeibo();
            });
        }, false);
</script>
<{/if}>
