/*=================================================
	Version:V1.2   	Date:2012-12-03
	Copyright: hnqss.cn  清风创科设计团队 
	Tel:(86)0731-82229293  企业QQ�?800017602
=====================================================*/
body{font:12px/1.5 'Microsoft Yahei',simsun,Arial,Helvetica,sans-serif;color:#666;background:#FFF}
a{color:#666;}
a:hover{color:#603002;text-decoration:none;}
.fl{float:left;_display:inline}
.fr{float:right;_display:inline}
.flt{float:left;_display:inline}
.frt{float:right;_display:inline}
h1,h2,h3,h4,h5,h6{margin:0}
p{margin:0;}
img{border:none;vertical-align:middle}
.cut{overflow:hidden;}
/*修正FireFox下被撑开3像素的BUG*/
.AdvBanner a img{display:block;}
/*修正FireFox a链接点击后显示的边框虚线*/
:focus{outline:none;}
.price1{font-size:16px;font-family:'Lucida Grande',tahoma,arial,simsun;color:#ff3131;font-weight:normal;}
.mktprice1{font-family:'Lucida Grande',tahoma,arial,simsun;color:#AAA;}
/* ----- 容器 ----- */
.wrap{width:1278px;margin-left:auto;margin-right:auto;}
.wrap-s{width:241px;}
.wrap-m{width:1027px;}
.w250{width:250px;}
.w920{width:920px;}
.mb10{margin-bottom:10px;}
.pushdown-1{margin-top:5px;}
.pushdown-2{margin-top:10px;}
.pushdown-3{margin-top:15px;}
.pushdown-4{margin-top:20px;}
.mt30{margin-top:30px}
.mt7{margin-top:7px}
.mb10{margin-bottom:10px}
h6{font-size:12px;}
.mktprice1{text-decoration:line-through;}
.price,.view-history .p-price{color:#ff1e0d;font-size:16px}
/* ----- 头部 ----- */
.topbar{height:28px;background:#e0e0e0;line-height:28px;color:#666;overflow:hidden;border:none;border-bottom:1px solid #cccaca}
.topbar .wrap{height:28px;}
.topbar a.login-btn,
.topbar a.signup-btn,
.topbar .tel,
.topbar .qfnavs li{background:url(i/tbg.png) no-repeat;padding-left:25px;}
.topbar a.login-btn{display:inline-block;background-position:-154px -28px; padding-right:15px;margin-left:5px}
.topbar a.signup-btn{display:inline-block;background-position:-154px -140px;padding-left:28px;}
.topbar .tel{background-position:-154px 0px}
.topbar .qfnavs li{background-position:-154px -84px;padding-left:28px}
.topbar .qfnavs li.first{background-position:-154px -54px;}
.topbar .qfnavs li.last{background-position:-154px -112px}
.topbar a{color:#666}
.login a{padding:0 7px;}
.topbar .tel span{padding:0px 5px}
.quick-menu li{float:left;padding:0px 5px 0;}
.menu{height:105px;background:#fff;}
.logo{padding-top:17px}
.menu .phone{padding:14px 81px 0px 0px;}
.search{overflow:hidden;margin:23px 81px 0px 0px}
.SearchBar{width:477px;height:45px;background:url("i/ss_bg.gif") no-repeat left top;}
.SearchBar .keywords{border:none;width:397px;padding:0px 10px;color:#666;float:left;background:none;height:45px;line-height:40px}
.SearchBar .btn_search {border:none;width:61px;height:45px;cursor:pointer;text-indent:-999px;overflow:hidden;background:none}

.searchbar form{width:477px;height:45px;background:url("i/ss_bg.gif") no-repeat left top;}
.searchbar form .x-input{border:none;width:397px;padding:10px;color:#666;float:left;background:none;height:25px;}
.searchbar form .btn-search{border:none;width:60px;height:45px;cursor:pointer;background:none;float:left;text-indent:999em; overflow:hidden}
.hots a{height:25px;line-height:25px;padding-right:15px;}

.ss_key{width:363px;overflow:hidden;padding-left:5px}
.ss_key li{float:left;height:25px;line-height:25px;padding-top:3px;padding-right:15px}
.ss_key li.front{padding-right:0px}
.ss_key li a{color:#666}
.ss_key li a:hover{color:#bf0015}
.nav-column{height:41px;background:#f08200;color:#FFF;}
/*导航*/  
.nav{width:1010px;position:relative;height:31px;z-index:10;padding:5px 0px}
.handle_cat{width:256px;height:41px;line-height:41px;font-size:16px;margin-right:9px;position:relative;z-index:9999; background:url("i/tb1.png") no-repeat 207px center #c36c05}
/*左侧下拉导航*/
.category-handle span{color:#FFF;display:block;font:400 16px/39px 'Microsoft Yahei',Arial;height:41px;overflow:hidden;text-indent:20px;width:207px;}
.category-box{position:absolute;left:-1px;top:41px;z-index:99999;width:233px;box-shadow:3px 0 3px -2px rgba(55, 55, 55, 0.4);background-color:#fef2e4;border:2px solid #f08200;border-top:0;height:auto;height:409px;padding:0px 10px}
.category-list{position:relative;z-index:1;}
.category-list li{vertical-align:middle;}
.category-list .cat-root-box{border-bottom:1px dashed #f08200;height:55px;line-height:55px;overflow:hidden}
.category-list .category-link{font-family:"Microsoft Yahei";font-size:14px;display:block;}
.category-list .no-lv2 .category-link,
.category-list .no-lv2 .category-link:hover{background:none;}
.category-list .cat-lv2-redundancy{height:55px;overflow:hidden;position:relative;width:125px;line-height:55px;padding-left:5px}
.category-list .cat-lv2-redundancy a{color:#603002;float:left;margin-right:2px;font-size:12px;_display:inline;}
.category-list .cat-lv2-redundancy span.sjx_icon{display:block;width:6px;height:9px; background:url(i/bg.png) no-repeat -110px -45px; position:absolute;right:10px;top:10px}
.category-list .active .cat-root-box{background:#fff;z-index:99999;position:relative;width:231px}
.category-list li.no-lv2{display:none}
.category-list .active .cat-lv2-redundancy span.sjx_icon{display:none}
.category-list .cat-children-box{border:1px solid #ddd;left:230px;display:none;position:absolute;z-index:90;background:#FFF;width:177px;}
.category-list .active .category-link:hover{background:none;}
.category-list .active .cat-lv2-redundancy a{color:#603002;}
.category-list .active .cat-children-box{display:block;}
.category-list .cat-children{width:137px;min-height:300px;_height:300px;border-right:1px solid #DDD;padding:0 20px;float:left;}
.category-list .sub-category{border-bottom:1px solid #E5E5E5;padding:10px 0;line-height:24px;}
.category-list .sub-category dt{float:left;width:70px;text-align:right;padding:0 15px 0 5px;font-weight:bold;}
.category-list .sub-category dt a,
.category-list .sub-category dt a:hover{color:#666;font-size:14px}
.category-list .sub-category dd{float:left;width:410px;}
.category-list .sub-category dd a{padding:0px 5px; border-left:1px solid #ddd;margin-bottom:4px;font-size:14px}
.category-list .cat-link{width:220px;float:right;}
.category-list .cat-goto{background:#e4393c;width:180px;height:35px;}
.category-list .cat-goto a{color:#FFF;padding:10px 0 0 6px;height:25px;float:left;word-wrap:normal;white-space:nowrap;}
.category-list .cat-goto a:hover{color:#FFF;text-decoration:none;}
.category-list .cat-link dt{color:#333;line-height:15px;padding:5px 0 0;color:#333;font:400 14px/30px "Microsoft Yahei",Arial;height:30px; font-size:14px}
.category-list .cat-link dd{_height:1%;min-height:1%; font-size:14px}
.category-list .cat-link dd:after{clear:both;content:".";overflow:hidden;display:block;height:0;}
.category-list .cat-link dd a{margin-top:10px;width:85px;padding-right:5px;float:left;display:block;overflow:hidden;height:15px;line-height:15px;font-family:simsun;color:#666;}
.category-list .cat-lv1{width:62px;height:55px;line-height:55px;padding-left:38px;position:relative}
.category-list .cat-lv1 span{width:35px;height:35px;position:absolute;top:10px; background:#093; left:0px; background:url(i/tbg.png) no-repeat}
.category-list .cat-lv1 span.type_icon1{background-position:0px -46px}
.category-list .cat-lv1 span.type_icon2{background-position:-35px -46px}
.category-list .cat-lv1 span.type_icon3{background-position:0px -84px}
.category-list .cat-lv1 span.type_icon4{background-position:-35px -84px}
.category-list .cat-lv1 span.type_icon5{background-position:0px -121px}
.category-list .cat-lv1 span.type_icon6{background-position:-35px -119px}
.category-list .cat-lv1 span.type_icon7{background-position:0px -158px}
.category-list .cat-lv1 a{color:#603002;font-weight:bold;font-family:"Microsoft Yahei",Arial;font-size:14px}
.category-box .category-list .no-lv2 .cat-root-box{background:none;}  
/*.category-box .category-list .no-lv2 .cat-root-box a:hover{color:#e4393c;}*/
.category-box .category-list .no-lv2 .cat-children-box{visibility:hidden;}
.category-box .cat-goto i{width:11px;height:11px;background:url("cat/ico.gif") no-repeat 3px -18px;float:left;padding:12px 0 0 3px;}
.cat-children-box .close{position:absolute;top:-1px;right:-26px;z-index:14;width:26px;height:26px;background: rgba(0,0,0,.6);text-align: center;line-height:26px;color:#fff;cursor:pointer;font-size:16px;background-color:transparent\9;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#60000000', endColorstr='#60000000')
}
.page-aside{float:left;width:180px;}
.page-article{margin-left:190px;margin-top:10px}
.member-menu-list a:hover{color:#bf0015}
.member-menu-list a.active{color:#bf0015}
.category-handle{height:41px;width:190px;position:relative;left:-1px;top:0;z-index:999999;background:#c36c05}
.category-handle a:hover{color:#FFF;text-decoration:none;}
.MenuList{height:31px;}
.MenuList li{float:left;padding:0px 9px; background:url(i/dh_xian.png) no-repeat right center}
.MenuList li.last{background:none}
.MenuList li a{color:#FFF;padding:0 15px;display:block;height:31px;line-height:31px;font-size:16px;font-family:'Microsoft Yahei';float:left;border-radius:5px}
.menu_index a{background:#c36c05;}
.MenuList .current{background:#8d1482;}
.MenuList li a:hover{background:#c36c05;text-decoration:none;color:#FFF;}
.Navigation{margin:0;padding:10px 0;line-height:18px;height:18px;color:#444;font-family:'Microsoft Yahei';}
.Navigation .pos-front{color:#333;margin:0;}
.Navigation a{text-decoration:none;color:#666}
.Navigation a:hover{color:#603002;text-decoration:underline;}
.Navigation .now{font-weight:normal;}
/* ----- 底部 -----*/
.minicart-list .goods-item .p-quantity{float:none}
.goods-item .p-quantity{float:left}
.goods-item .store-warn{position:relative;top:0px;display:inline-block;text-align:left}
.footer{margin-top:10px;padding-bottom:20px}
.footer .wrap{background:url(i/foot_bg.jpg) no-repeat;height:348px;}
.baozhang{height:90px;padding:23px 0px 0px 568px}
.foot-info .item1{width:216px;height:89px;padding:8px 0px 0px 66px;}
.foot-info .item4{height:146px;padding:0px 0px 0px 185px;width:811px;}
.help_info{padding-right:15px;margin-left:10px;border-right:1px solid #54504c;display:inline-block;white-space:nowrap;_width:132px; _display:inline;_overflow:hidden}
.help_info li{white-space:nowrap;}
.help_info h3{color:#54504c;font-size:14px;position:relative;padding-left:37px;white-space:nowrap;}
.help_info h3 span{width:35px;height:35px;display:block;position:absolute;left:0px;top:-5px;background:url(i/tbg.png) no-repeat}
.foot-info .item4 .icon1 span{background-position:-70px -49px}
.foot-info .item4 .icon2 span{background-position:-105px -49px}
.foot-info .item4 .icon3 span{background-position:-70px -84px}
.foot-info .item4 .icon4 span{background-position:-105px -84px}
.foot-info .item4 .icon5 span{background-position:-70px -119px}
.foot-info .item4 .icon5{border:none}
.help_info li{height:25px;line-height:25px;padding-left:37px}
.help_info li a{color:#54504c;font-size:12px}
.help_info li a:hover{color:#54504c}
.sys-copyright{color:#916f48;font-family:Arial;color:#54504c;font-size:14px}
.sys-copyright img{margin-top:20px}

.friendlink-list{text-align:center}
.friendlink-list li{padding:5px 10px; display:inline}
/* ----- 首页 ----- */
.banner .slide-number{padding-left:563px !important}
.banner .slide-number a{width:10px !important;height:10px;border-radius:10px;}
.banner .slide-number .active{background:#9c003f}
.main-left{width:796px;margin-top:5px}
.main-left .hd{height:57px;line-height:57px;background:url(i/ss_tt.jpg) no-repeat 10px center;width:340px;text-indent:-999em; overflow:hidden;padding-bottom:5px}
.main-left .bd{background:url(i/xxss_bg.gif);padding:18px 0px 1px;*padding-bottom:10px}
.main-right{width:475px;height:800px;margin-top:5px}
.slide_pic{width:449px;height:433px;background:url(i/right_pictop.jpg);padding:30px 0px 0px 22px}
.wrap_slide{width:428px;height:406px;}
.ad1{background:#060;margin:0px 14px;background:#FFF;height:182px;-moz-box-shadow:-2px 0 2px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.05);-webkit-box-shadow:-2px 0 2px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.05);box-shadow:-2px 0 2px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.05);margin-bottom:34px;*width:768px;*margin:0px auto 34px}
.ad1_tt{width:313px;padding:15px 0px 0px 24px}
.ad1_tt h3{height:38px; line-height:38px;color:#f08200;font-size:18px}
.ad1_tt h3 a{color:#f08200;}
.ad1_tt p{color:#292727;height:24px; line-height:24px}
.ad_pictr{position:relative}
.ad_pictr span.tag1,
.ad_pictr span.tag2{display:block;width:35px;height:35px;position:absolute;right:20px;background:url(i/tbg.png) no-repeat -70px -156px;top:-6px}
.ad_pictr span.tag2{right:60px;background-position:-35px -156px}
.product{width:460px;height:178px;padding-top:13px; background:url(i/right_bottom.gif) no-repeat left bottom;padding-left:10px}
.product .ct{width:141px;float:left;margin-right:10px}
.product .ct3{margin-right:0}
.product .pictr{width:141px;height:142px;position:relative;overflow:hidden;_cursor:pointer}
.product .pr_tt{display:block;width:141px;height:102px;background:#161616;position:absolute;left:0;top:0;padding-top:40px;filter:alpha(opacity=0)\0;*filter:alpha(opacity=0);opacity:0;*cursor:pointer;_filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.product .pr_tt p.tt{font-size:18px;color:#FFF;white-space:normal;text-align:center}
.product .pr_tt p.price{font-size:20px;color:#f08200;text-align:center}
.product .pictr  span.price2{display:block;padding:0px 10px;height:25px;color:#FFF;text-align:center;line-height:25px;background:#f08200; position:absolute;right:0px;bottom:0;font-size:20px}
.product p.t1{text-align:center;height:19px;padding-top:3px;line-height:19px;overflow:hidden;white-space:nowrap;}
.product p.t1 a{color:#292727;}
.ad2{margin-top:18px;padding-left:8px}
.ad2 .AdvBanner{float:left;margin-right:10px}
.ad2 .last{float:left;}
.gotop{background:url("i/backtop.gif") no-repeat 0 0;width:50px;height:50px;display:block;opacity:0.7;filter:alpha(opacity=70);}
.gotop:hover{background-position:0 -52px;opacity:1;filter:alpha(opacity=100);}

.minicart-cont{max-height:300px; overflow:hidden;}
/*商品详情�?*/
.show_this{height:1px;position:relative;}
.show_li{position:absolute;left:45px;top:431px}
.product-buy-action .btn-import span{ padding:0px}
.product-buy-action .action-buynow{width:105px;height:36px;background:url("i/btn.gif") no-repeat 0px -42px;}
.product-buy-action .action-buynow:hover{opacity:0.8}
.product-buy-action .action-buynow span{display:none}
.product-buy-action .action-addtocart{width:135px;height:36px;background:url("i/btn.gif") no-repeat 0px -79px;}
.product-buy-action .action-addtocart:hover{opacity:0.8;}
.product-buy-action .action-addtocart span{display:none}
.product-buy-action .btn-addfav{width:90px;height:31px; background:url("i/btn.gif") no-repeat 0px -122px; text-indent:-999px; overflow:hidden}
.product-buy-action .btn-faved{width:90px;height:31px;background:url("i/btn.gif") 0px -153px; text-indent:-999px; overflow:hidden}
.product-album-thumb .thumbnail-list .active .thumbnail{border-color:#c0031a}
.product-album-thumb .thumbnail-list .active .arrow{display:none}
.post-comment .mod-title h2{background:#f5f5f5; border-bottom:1px solid #e3e0da}
.product-consult .mod-title h2,
.product-comment .mod-title h2,
.product-related .mod-title h2{background:#f5f5f5;border-bottom:1px solid #e7e7e7;color:#666;font-weight:bold;padding-left:21px}
.consult-item .icon-question{color:#cdb38a}
.product-tags{height:32px;line-height:32px;border:1px solid #dedfde;background:#f7f7f7;border-top:2px solid #999;margin-top:5px}
.product-adjunct{margin-top:0}
.product-tags .tags-hd{height:32px; margin:0px; border:none}
.product-tags .active{border:none}
.product-tags .tags-hd a{padding:0px 20px;background:#f7f7f7;margin-right:0px;border:none;color:#666;font-weight:bold;}
.product-tags .active a{color:#e49139;position:relative;top:-6px;height:37px;line-height:42px; background:#FFF;border:1px solid #dedfde;border-bottom:none;border-top:2px solid #e49139;left:-1px}
.product-attributes{border:1px solid #e8e8e8;background:#f5f5f5}
.consult-item .icon-answer{color:#cdb38a}
.gallery-list .goods-price li{text-align:left}
.filter-promotion dt{width:87px}
.consult-item{ background-color:#f7f8f8;border-color:#e7e7e7}
.consult-content .tabs li.active a{background:#666;color:#fff}
.no-permission textarea, .no-permission input{background:#f5f5f5}
input, select, textarea{border-color:#e7e7e7;vertical-align:middle}
.comment-list .title a{color:#0057be}
.comment-list .title a:hover{color:#bf0015}
.inter-handle a{color:#0057be}
.inter-handle a:hover{color:#bf0015}
.comment-list .member-discuss{border-color:#e7e7e7}
.answer-admin .reply-content{color:#c0031a}
.sidecat h4 a:hover{color:#bf0015}
.all-sidecat-wrap .e-cat-depth-1 a:hover{background:none}
.product_dlytype li{float:left;margin-right:10px}
.pp_rice{margin-right:15px}
/*配件*/
.product-adjunct{border-top:none !important}
.adjunct-tab-sroc{background:#f7f7f7;height:32px;line-height:32px;margin-top:5px;border-top:2px solid #999;border-bottom:1px solid #ddd;*position:relative;*top:-5px}
.product-adjunct .adjunct-list{padding:0px}
.product-adjunct .goods-pic{text-align:left}
.adjunct-items{width:643px}
.product-adjunct .adjunct-group{overflow:scroll;overflow-y:hidden;width:643px !important}
.adjunct-items .flip{display:none}
.product-adjunct .adjunct-list .tab-trigger{border:none;}
.product-adjunct .adjunct-list .tab-trigger em{padding:0px 20px;font-size:14px;font-weight:bold}
.product-adjunct .adjunct-list .active{background:none;border:1px solid #ddd;border-bottom:none; position:relative;top:-6px;border-top:2px solid #e49139;background:#FFF;left:-1px;height:37px;line-height:37px;color:#e49139}
.product-adjunct .goods-pic{width:100px;height:100px;border:none}
.product-adjunct .goods-pic img{max-width:100px;max-height:100px;width:100px;height:100px}
.product-adjunct .inftt,
.adj-price{color:#ff3131;font-size:14px}
.product-adjunct .goods-info h4{color:#666;font-weight:normal;height:39px;overflow:hidden;font-size:14px;}
.product-adjunct .btn-big span{line-height:2.0}
.cancelall{margin-left:10px}
.product-adjunct .adjunct-group .selected{background:none}
.product-adjunct .info-area{width:auto}
.product-adjunct .info-area .info{line-height:25px;padding-left:47px;padding-right:15px}
.product-adjunct .info-area{background:url(i/eq_coin.gif) no-repeat left center}
.product-adjunct .adjunct-group .item{padding-right:32px;background:url(i/add_icon.gif) no-repeat right 88px;margin-right:15px}
.product-adjunct .jiajia span{display:block;width:22px;height:24px;background:url(i/add_icon.gif) no-repeat;overflow:hidden; text-indent:-999em;margin:88px 10px 0px 0px}
.product-adjunct .fixbg{color:#333}
.info-area .hide{display:block !important}
/*table样式*/
.my_table_my{border:1px solid #e4e1db}
.my_table_my h3.tt{height:38px;line-height:38px;border-bottom:1px solid #e4e1db;padding-left:10px;background:#f5f5f5}
.my_table_my .bd{ padding:10px;line-height:25px}
.score-total .score,
.score-total .total-count,
.scores-list .score{color:#c0031a}
.product-score .btn-simple{width:102px;height:34px;}
.product-score .btn-simple span{height:auto}
.form-item-last .action-submit-post{width:79px;height:26px;background:url("i/btn.gif") no-repeat -90px -122px}
.form-item-last .action-submit-post span{display:none}
.answer-admin .answer-content,.answer-admin .infos em{color:#c0031a}
.comment-list .member-discuss{background:#f7f8f8}
.goods-item .goods-name{height:20px;overflow:hidden;max-height:none;font-size:14px}
.goods-item .goods-name a{color:#ff980d;font-size:14px;font-weight:bold}
.product-related .goods-item .goods-info a:hover{color:#bf0015;text-decoration:underline}
.stars .below{color:#e0a902}
.t-info .d_tables{border:1px solid #dcdcdc;border-width:0px 0px 1px 1px}
.t-info .d_tables td{border:1px solid #dcdcdc;border-width:1px 1px 0px 0px;height:38px; line-height:38px; text-indent:12px}
.t-info .d_tables .ths{text-align:center;background-color:#f4f5f5}
/*相关产品样式*/
.product-related-content{width:930px !important}
.product-related-content .switchable-content{width:3000000px !important}
.product-related .goods-item{width:298px;border:1px solid #fff}
.product-related .goods-item:hover{border:1px solid #ddd}
.product-related .goods-item .goods-pic{border:none;float:left;width:132px;height:113px}
.product-related .goods-item .goods-info{padding-left:135px}
.product-related .flip a{width:13px;height:27px; background:url("i/bg1.gif") no-repeat 0 0px;border-radius:0px;text-indent:-999em;overflow:hidden}
.product-related .flip{top:45px}
.product-related .next a{background-position:-13px 0px}
.product-related .goods-item .goods-info .goods-name{height:40px;overflow:hidden;color:#666}
.product-related .goods-item .goods-info .goods-name a{color:#666;font-weight:normal}
/* ----- 列表�? -----*/
.sidecat{margin-bottom:10px;border:none !important;border-color:#dadada !important}
.all_items{background:#f5f5f5;color:#333;font-size:14px;height:38px;padding-left:17px;font-weight:bold;line-height:38px;border-top:2px solid #999;border-right:1px solid #eaeaea;border-left:1px solid #eaeaea}
.sidecat h4{height:35px;line-height:35px;padding-left:38px;cursor:pointer;border-bottom:1px solid #eaeaea;background:none}
.sidecat h4 a{font-size:14px;font-family:'Microsoft Yahei';color:#666}
.all-sidecat-wrap{border:1px solid #eaeaea;}
.all-sidecat-wrap .e-cat-depth-0{height:auto;}
.all-sidecat-wrap .last .cat-down{border-bottom:none}
.all-sidecat-wrap .e-cat-depth-0{position:relative;z-index:2;margin-bottom:1px;}
.all-sidecat-wrap .e-cat-depth-0 .symbols{position:absolute;z-index:3;left:10px;top:11px;width:14px;height:14px;background:url("i/sprite1.gif") no-repeat;text-indent:-999em;overflow:hidden;margin:0;}
.all-sidecat-wrap .e-cat-depth-0 span.show_this{background-position:0 0;}
.all-sidecat-wrap .e-cat-depth-0 span.hide_this{background-position:0 -15px;}
.sidecat .cat-down{padding:0 10px 6px 20px;min-height:1%;_height:1%;border-bottom:1px solid #eaeaea;}
.sidecat-wrap .cat-down:after{clear:both;content:'.';height:0;overflow:hidden;display:block;}
.all-sidecat-wrap .e-cat-depth-1,
.sidecat-wrap .e-cat-depth-2{float:left;height:21px;line-height:21px;padding-top:6px;width:70px;overflow:hidden;padding-left:10px;padding-right:10px}
.all-sidecat-wrap .e-cat-depth-1 a,
.sidecat-wrap .e-cat-depth-2 a{font-size:12px;padding:2px;color:#999;font-weight:normal;display:inline-block;_display:inline;*zoom:1;font-family:simsun;line-height:18px;}
.all-sidecat-wrap .e-cat-depth-1 a:hover,
.sidecat-wrap .e-cat-depth-2 a:hover{color:#603002}
.all-sidecat-wrap .e-cat-depth-1 a{padding:2px 5px;}
.all-sidecat-wrap .e-cat-depth-1 a.curr-2{background-color:#df7c2b;color:#FFF}
.all-sidecat-wrap .e-cat-depth-1 a:hover{color:}
.sidecat-wrap .e-cat-depth-2 a:hover{color:#60215a;text-decoration:none;}
.pic_s{margin-bottom:10px}
.box1{border:1px solid #eaeaea;margin-bottom:10px;border-top:none}
.box1 h3{color:#666;font-size:14px;border-bottom:1px solid #eaeaea;height:35px;line-height:35px;padding-left:18px;border-top:1px solid #eaeaea;background:#f5f5f5}
.siderank .item{padding:14px 0 10px 0px;position:relative;border-bottom:1px solid #e3e0da}
.siderank .im{ padding:5px 0px;margin-bottom:5px;text-align:center}
.siderank .im span{position:absolute;top:0;left:10px;font-size:9px;height:13px;line-height:13px;width:13px;text-align:center;background:url("i/sprite.gif") no-repeat -108px 0;font-family:Arial;}
.siderank .im .hl{background-position:-123px 0;color:#FFF;}
.siderank .gname a{max-height:54px;_height:54px;overflow:hidden;line-height:18px;word-break:break-all;color:#333}
.siderank .gname a:hover{text-decoration:underline}
.history .product-info a{max-height:54px;_height:54px;overflow:hidden;line-height:18px;width:91px;word-break:break-all;color:#333}
.siderank .gname a{font-weight:normal;}
.siderank .gname a:hover,
.siderank{border-bottom:none}
.siderank .rank-box{padding:0px 35px;line-height:25px}
.siderank .price1{font-size:14px;color:#e60012;font-weight:bold}
.siderank ul.p li{ float:left}
.siderank ul.p li.last{float:right}
.fsw .slide-number{padding-left:550px !important}
.fsw .slide-number a{width:10px !important;height:10px !important;border-radius:10px}
.g_slide .slide-trigger{right:470px !important}
.g_slide .slide-trigger li{width:10px !important;height:10px !important;border-radius:10px;text-indent:-999em;overflow:hidden}
.g_slide .slide-trigger li.active{background:#f08200 !important}
.filter-container .filter-title .gallery-total-info{margin-top:2px}
#box_w .product-item{ border-bottom:1px solid #e3e0da}
#box_w .product-img{margin-right:10px;}
#box_w .product-info{padding-top:10px}
#box_w .product-info .price1{font-size:14px}
#box_w .product-info a:hover{color:#603002;text-decoration:underline}
#box_w .product-item{border-bottom:1px solid #e3e0da}
#box_w .product-item{max-height:1%;_height:1%;padding:10px 30px;}
#box_w .product-item:after{clear:both;content:'.';overflow:hidden;height:0;display:block;}
#box_w .product-item img{width:160px !important;height:160px !important;}
#box_w .product-info a{display:block;}
#box_w .product-name{color:#333}
#box_w .price1{font-weight:bold}
.box_hst .hst-menu{padding:15px 0;text-align:center}
.box_hst .hst-menu a{color:#333;cursor:pointer;}
.box_hst .hst-menu a:hover{color:#603002;}
.history .product-img{width:65px;height:65px;float:left;margin-right:10px;}
.history .product-info{width:81px;float:left; padding-top:10px}
.history .product-info .price1{font-size:14px}
.history .product-info a:hover{color:#603002;text-decoration:underline}
.history .product-item{ border-bottom:1px solid #e3e0da}
.history .product-item{max-height:1%;_height:1%;padding:14px 18px}
.history .product-item:after{clear:both;content:'.';overflow:hidden;height:0;display:block;}
.history .product-item img{width:65px;height:65px;}
.history .product-info a{display:block;}
.history .hst-menu{padding:15px 0;}
.history .hst-menu a{color:#666;cursor:pointer;}
.history .hst-menu a:hover{color:#e4393c;}
.sidegoods{background:#FFF;border-bottom:none}
.sidegoods .item{border-bottom:1px solid #e3e0da}
.sidegoods .info{padding:0px 22px}
.sidegoods .item{padding-bottom:12px;}
.sidegoods .goodpic{padding:10px 15px 14px;width:209px !important;text-align:center}
.sidegoods h6{max-height:36px;_height:36px;font-weight:normal;overflow:hidden;}
.sidegoods h6 a{color:#333;}
.sidegoods h6 a:hover{color:#bf0015;text-decoration:underline}
.sidegoods .price1{color:#e60012;font-size:14px;font-weight:bold;margin-right:5px; float:left}
.sidegoods .mktprice1{float:right}
.sidegoods .goods-intro{margin:5px 0;color:#D80000;word-break:break-all;max-height:54px;overflow:hidden;_height:expression(this.scrollHeight> 54 ? '54px' : 'auto');}
.gallery-grid span.goods-comment{}
.gallery-grid .goods-buy .p-quantity{}
.gallery-grid .action-compare{}
.gallery-grid .goods-action .goods-buy{float:left;margin-right:5px}
.gallery-show .goods-item{border:1px solid #FFF;padding:10px 5px;_display:inline;height:410px}
.gallery-grid .goods-item:hover{ border:1px solid #e3e0da}
.gallery-grid .goods_brief{height:20px;overflow:hidden}
.gallery-grid .goods_brief span{color:#ff980d;margin-right:5px}
.gallery-grid .goods_brief,
.gallery-grid .comment_w{padding:0px 10px}
.gallery-grid .goods_brief{color:#333;margin-top:5px}
.gallery-grid .goods-comment{margin:0px;color:#195f45}
.gallery-grid .goods-item .goods-info{padding:0px 10px}
.gallery-grid .goods-item .goods-action{padding:0px 10px}
.gallery-grid .goods-item .goods-price{text-align:left;font-size:14px;}
.gallery-grid .goods-action .goods-others{float:right;display:none}
.gallery-list .goods-item{height:auto}
/*<!--.gallery-grid .goods-item .goods-pic{padding:0px 4px;width:180px !important;height:180px !important}
.gallery-grid .goods-item .goods-pic img{max-width:180px !important;max-height:180px !important;}-->*/
.gallery-grid .goods-item .action-addtocart span,
.gallery-grid .goods-item .action-notify span{display:none}
.gallery-grid .goods-item .action-addtocart{width:90px;height:28px;background:url(i/btn.gif) no-repeat 0px 0px}
.gallery-grid .goods-item .action-notify{width:90px;height:28px; background:url(i/btn.gif) no-repeat 0px -184px;margin-top:5px}
.gallery-list .goods-item .btn-simple,
.gallery-grid .goods-item .btn-simple{width:61px;height:21px;line-height:21px;}
.gallery-grid .p-quantity{padding-top:3px}
.gallery-list .goods-item .btn-simple span,
.gallery-grid .goods-item .btn-simple span{}
.gallery-grid .goods-item .btn-plane span,.gallery-list .goods-item .btn-plane span{}
.gallery-grid .goods-item .btn-plane,
.gallery-list .goods-item .btn-plane{width:78px;height:21px; background:url("i/btn.gif") no-repeat -78px -21px}
.gallery-list .goods-item .action-compare{width:61px;height:21px;line-height:21px;}
.gallery-list .goods-item .action-compare span{}
.sortbar-filter-tags{display:none}
.gallery-grid .goods-item .goods-price ins{display:inline;*float:left}
.gallery-grid .goods-price del{display:inline;margin-left:5px}
.gallery-grid .goods-price{max-height:none}
.store-warn{margin-top:10px}
.product-spec .spec-area{height:59px;overflow:hidden;position:relative}
.gallery-grid .goods-price del{clear:none}
/* ----- 文章�? ----- */
.ArticleDetailsWrap h1,.ArticleDetailsWrap h2,.ArticleDetailsWrap h3,.ArticleDetailsWrap h4,.ArticleDetailsWrap h5,.ArticleDetailsWrap h6{margin:5px 0;}
.pubdate {padding-bottom:5px;}
.ArticleDetailsWrap {line-height:2;padding:10px 30px 20px;min-height:640px;_height:640px;font-size:14px;color:#434343;border:1px solid #E1E1E1;border-top:3px solid #4A98FF;}
.help-article .ArticleDetailsWrap{border-top:1px solid #E1E1E1;}
.ArticleDetailsWrap hr{margin:15px 0;}
.ArticleDetailsWrap h2{color:#444;font-size:26px;text-shadow:1px 1px 0 #FEFEFE, 1px 2px 0 #AAAAAA;font-family:'Microsoft Yahei';}
.ArticleDetailsWrap .pageWrap h2{display:none;}
.ArticleDetailsWrap div{overflow:visible !important;}
.ArticleDetailsWrap p{text-indent:28px;margin:1em;}
.ArticleDetailsWrap .pageWrap h4{padding-top:10px;}
.ArtListWrap{font-size:14px;border:1px solid #F1F1F1;padding:20px;padding-top:10px;border-top:3px solid #4A98FF;box-shadow:-2px 0 2px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.05);min-height:350px;_height:350px;}
.ArtListWrap ul.list li{line-height:35px;background:url("i/dot2.gif") no-repeat 3px 15px;border-bottom:1px dashed #E1E1E1}
.ArtListWrap ul.list li a{color:#555;}
.ArtListWrap ul.list li a:hover{color:#3377FF;text-decoration:underline;}
.wrap-s .article-list{border:1px solid #d0cfce;margin-bottom:10px;border-top:3px solid #c36c05;margin-bottom:20px;}
.wrap-s .article-list ul{border-top:1px solid #d0cfce;padding:8px 0;}
.wrap-s .article-list li{line-height:2;height:24px;overflow:hidden;padding:0 5px;}
.wrap-s .article-list li a{padding-left:13px;background:url("i/dot3.gif") no-repeat 4px 4px;}
.wrap-s .article-list li a:hover{text-decoration:underline}
.pageview a.flip:hover, .pageview .active{background:#ff8c64;color:#FFF;border-color:#ddd}
.wrap-s .article-list h3{height:35px;line-height:34px;padding-left:15px;font-size:15px;color:#444;}
.article-item .article-title a:hover{color:#603002;text-decoration:underline}
/* ----- 帮助中心�? ----- */
.help-side .content-list{border:1px solid #d0cfce;position:relative;padding-top:15px}
.help-side{margin-bottom:10px}
.help-side{width:161px}
.help-article{width:1107px}
.wrap_artlist{width:1070px}
.help-side .content-list .content-title{width:169px;height:49px; background:url(i/help_ct.gif) no-repeat; position:relative;left:-9px; overflow:hidden;text-indent:-999em}
.help-side .content-list .content-title a{color:#666;}
.help-side .content-list .content-title a:hover{color:#FF596F;}
.help-side .lv-1{padding:4px 0 0 14px;height:25px;margin-bottom:10px;border:1px solid #d0cfce;border-width:1px 0px 1px 0px; background:url(i/h_sjx.gif) no-repeat 10px center}
.help-side .lv-1 a{padding-left:22px;background:url("i/ico.gif") no-repeat 0 -63px;display:block;line-height:23px;font-size:14px;color:#333}
.help-side .lv-2{padding:0 35px 10px 35px;}
.help-side .lv-2 a:hover{text-decoration:underline}
.mod-title{background:#f5f5f5}
.help-article .mod-title{background:#eae9e7;border-bottom:1px solid #d0cfce;color:#666}
.help-article .mod-title h2{font-size:18px;}
.mod{border:1px solid #d0cfce}
.wrap_artlist .mod{border:1px solid #d0cfce}
/* ----- 其他页样�? ----- */
.cart-nav.stepbj1, 
.cart-nav.stepbj2, 
.cart-nav.stepbj3{background-image:url("i/cart-stepbj.gif");}
/* ---- ECS易开店兼容处�? ---- */
.grid .items-gallery .price-item{height:24px;overflow:hidden;}
.minicart-single .goodpic img{width:60px;height:60px;}
.goods-info-wrap .app-area{margin-top:10px;}
.horizontal-m .goodpic{margin-right:5px;}
/*ECS2.0兼容*/
.cat-ex-vertical .cat-link{float:right;}
.filter-lists-container .active,
.filter-promotion .active{background:#df7c2b;}
.gallery-sortbar .gallery-sort .active{}
.filter-selected-item .icon,
.gallery-sortbar .gallery-showmode .active .icon,
.filter-container .filter-title .gallery-total-info b{color:#d62528;}
.gallery-sortbar .gallery-showmode a:hover{text-decoration:none;}
.product-titles h2{font-size:18px;font-family:"Microsoft Yahei";color:#6d6d6d;font-weight:normal}
.btn-major span{border-radius:5px;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f08200),color-stop(100%,#df7900));background-image:-webkit-linear-gradient(#f08200,#df7900);background-image:-moz-linear-gradient(#f08200,#df7900);background-image:-o-linear-gradient(#f08200,#df7900);background-image:linear-gradient(#f08200,#df7900);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFf08200',endColorstr='#FFdf7900') \9;}
.btn-major:hover span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#df7900),color-stop(100%,#f08200));background-image:-webkit-linear-gradient(#df7900,#f08200);background-image:-moz-linear-gradient(#df7900,#f08200);background-image:-o-linear-gradient(#df7900,#f08200);background-image:linear-gradient(#df7900,#f08200);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFdf7900',endColorstr='#FFf08200') \9;}
.product-titles p{color:#ff980d;font-family:"Microsoft Yahei";font-size:16px;}
.product-information .price ins{font-size:21px;font-family:"Microsoft Yahei",tahoma;color:#ff0000}
.product-concerns ul, .product-concerns .item{line-height:2.5;}
a.btn:hover{text-decoration:none;}
.p-quantity a:hover{text-decoration:none;}
.product-buy-action{font-family:"Microsoft Yahei";}
.history .hst-menu{text-align:center;}
/*2013.12.26*/
.floor-4 li{float:left;}
.floor-c .qfgoods li{float:left;}
.filter-entries .filter-lists-container .filter-entries-values .active{backround:#4593FD;}
.filter-container{border:1px solid #dfdcd5}
.filter-container .filter-title{background:#f5f5f5}
.filter-selected{background:none;border-bottom:1px dotted #ddd;border-top:1px dotted #ddd;}
.goods-price .price{color:#ff0000}

/*迷你购物车ECS2.0*/
.cart{margin:32px 31px 0px 0px}
.minicart{line-height:40px;text-align:right;position:relative;z-index:9999;width:154px;height:45px; background:url(i/tbg.png) no-repeat 0px 0px}
.minicart .icon{font-size:12px;margin-right:3px;}
.minicart .btn-tocart{padding-left:20px;padding-right:20px;color:white;background-color:#df7c2b;margin-left:10px;vertical-align:top;border-radius:5px}
.minicart-text{display:inline-block;height:40px;color:white;}
.minicart-cont{width:300px;overflow-y:auto;overflow-x:hidden;display:none;background-color:#fff;position:absolute;right:6px;top:39px;z-index:200;text-align:left;line-height:18px;border:1px solid #dfdad5;color:#666}
.minicart-cont .goods-item{border-bottom:1px dashed #e0e0e0;padding:10px;}
.minicart-cont .goods-pic{width:60px;height:60px;line-height:58px;*line-height:60px;border:1px solid #cccccc;overflow:hidden;text-align:center;*font-size:54px;font-family:Arial;float:left;}
.minicart-cont .goods-pic img{max-width:60px;max-height:60px;vertical-align:middle;}
.minicart-cont .goods-info{margin-left:70px;}
.minicart-cont .goods-name{margin-bottom:10px;}
.minicart-cont .goods-name a{color:#666666;}
.minicart-cont .goods-price{overflow:hidden;}
.minicart-cont .p-price,.minicart-cont .p-quantity{color:#fc6b00;display:inline;margin-right:0;}
.minicart-cont .action-delete{float:right;*margin-top:-16px;}
.minicart-cont .no-information{padding:30px 0;text-align:center;}
.has-minicart .minicart-text{display:block;color:#666;font-size:12px;height:38px;line-height:38px;padding-left:55px;text-align:left; position:relative; z-index:3000}
.has-minicart .minicart-text:hover{text-decoration:none;}
.has-minicart .op-cart-number{padding:0px 5px;}
.minicart-active .minicart-cont{display:block;}
.minicart-info{background-color:#f9f9f9;text-align:right;padding:10px;}
.minicart-info .btn-tocart{display:inline-block;line-height:25px;margin-top:10px;}
.show_hide{display:block;width:32px;height:38px;position:absolute;right:0px;top:0px;background:url("i/bg1.gif") no-repeat -348px -61px;}
.minicart-active .show_hide{background-position:-348px -83px;}

/*右边导航*/
.hnqss_cn_kf .qf_backtop,
.hnqss_cn_kf .kf_service,
.hnqss_cn_kf .kf_feedback{background:#FFF url("i/kfbg.gif") no-repeat;}
.hnqss_cn_kf{position:fixed;bottom:5px;right:5px;z-index:9999;}
*html{_background-image:url(about:blank);_background-attachment:fixed;*zoom:1;}
*html .hnqss_cn_kf {_position:absolute;_top:expression((-500+(document.documentElement.clientHeight ? document.documentElement.clientHeight:document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px');*zoom:1;}
.hnqss_cn_kf .ewm_rt{width:102px;height:94px; background:url("i/ewm_bg.gif");text-align:center; padding-top:10px}
.kf_wrap{width:67px;border:1px solid #dcdcdc;background:#FFF}
.kf_wrap .cart_rt{width:67px;border-bottom:1px solid #dcdcdc;height:61px;background:url("i/kfbg.gif") no-repeat -67px -235px;text-indent:-999px;overflow:hidden}
.kf_wrap .cart_rt:hover{background-position:0px -235px}
.kf_wrap .daoh{width:67px;height:61px;background:url("i/kfbg.gif") no-repeat -67px 0px;overflow:hidden;text-indent:-999px;border-bottom:1px solid #dcdcdc}
.kf_wrap .daoh:hover{background-position:0px 0px}
.fenlei a{height:30px;line-height:30px;width:67px;background:#ededed;color:#602059;border-bottom:1px solid #dcdcdc}
.fenlei a:hover{color:#e4007f}
.hnqss_cn_kf a{display:block;overflow:hidden;opacity:0.8;transition:opacity 0.3s ease-in 0s,opacity 0.3s ease-out 0s;text-align:center;}
.hnqss_cn_kf .kf_feedback{height:62px;text-indent:-999em;overflow:hidden;background-position:-67px -124px;border-bottom:1px solid #dcdcdc}
.hnqss_cn_kf .kf_feedback:hover {background-position:0px -124px}
.hnqss_cn_kf .kf_service{height:62px;text-indent:-999em;overflow:hidden;background-position:-67px -62px;border-bottom:1px solid #dcdcdc;}
.hnqss_cn_kf .kf_service:hover{background-position:0px -62px}
.hnqss_cn_kf .qf_backtop{width:67px;height:49px;background:url("i/kfbg.gif") no-repeat -67px -186px; display:block}
.hnqss_cn_kf .qf_backtop:hover {background-position:0px -186px}
.hnqss_cn_kf .offline:hover {background-position:-78px -79px}

/*登陆与注�?*/
.form-act .btn-major span,.btn-caution span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f08200),color-stop(100%,#df7900));background-image:-webkit-linear-gradient(#f08200,#df7900);background-image:-moz-linear-gradient(#f08200,#df7900);background-image:-o-linear-gradient(#f08200,#df7900);background-image:linear-gradient(#f08200,#df7900);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFf08200',endColorstr='#FFdf7900') \9;border-radius:5px;}
.signupin-content .btn-major span{width:210px}
.form-act .btn-major span span{padding:0px}
.form-act .btn-major:hover span,.btn-caution:hover span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#df7900),color-stop(100%,#f08200));background-image:-webkit-linear-gradient(#df7900,#f08200);background-image:-moz-linear-gradient(#df7900,#f08200);background-image:-o-linear-gradient(#df7900,#f08200);background-image:linear-gradient(#df7900,#f08200);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFdf7900',endColorstr='#FFf08200') \9;}
.btn-import span{border-radius:5px;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e68c43),color-stop(100%,#df7c2b));background-image:-webkit-linear-gradient(#e68c43,#df7c2b);background-image:-moz-linear-gradient(#e68c43,#df7c2b);background-image:-o-linear-gradient(#e68c43,#df7c2b);background-image:linear-gradient(#e68c43,#df7c2b);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFe68c43',endColorstr='#FFdf7c2b') \9;}
.btn-import:hover span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#df7c2b),color-stop(100%,#e68c43));background-image:-webkit-linear-gradient(#df7c2b,#e68c43);background-image:-moz-linear-gradient(#df7c2b,#e68c43);background-image:-o-linear-gradient(#df7c2b,#e68c43);background-image:linear-gradient(#df7c2b,#e68c43);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFdf7c2b',endColorstr='#FFe68c43') \9;}
.signup-aside .btn-import{margin-left:15px}
.signup-aside .btn-import span{padding:0px;width:134px;height:40px;; text-align:center; line-height:40px;border-radius:5px;}
.signin{border:1px solid #e3e0da} 
.sign-title h2{color:#1566c0}
.signup-aside{border:none}
.signup{border:1px solid #e3e0da}
.steps .active{}
.steps .active i{}
.steps a:hover{background-color:#c99c4e;}
.steps .step-item a:hover i{color:#c99c4e;}
.cart-main .p-title a:hover{color:#bf0015}
.order-promotion b, .order-coupon b, .order-deduction b, .unused-promotion b{color:#bf0015}
.cart-main .p-subtotal,
.cart-main .order-price .price,
.order-clearing .order-price .price,
.gallery-compare .goods-price{color:#ff1e0d}
.order-clearing caption,.caution-inline{background:#c36c05;color:#FFF}

/*首页注册框样�?*/
ul.dl_box li{position:relative}
ul.dl_box li a:hover{color:#822c7a;text-decoration: underline;}
ul.dl_box li.check_code img{ margin:22px 5px 0px 30px}
ul.dl_box li.check_code .verify-code{margin-top:20px; display:inline-block; float:left}
ul.dl_box .notice-inline{ display:inline-block; padding:2px 0px 0px 51px; position:absolute; left:0px;top:36px}

/*对比�?*/
.gallery-compare{z-index:1000000}
.gallery-compare .header{background:#f4f4f4}
.gallery-compare .unfold{background:#FFF;border-color:#ddd}
.gallery-compare .handle-collapse .icon{background:#df7c2b}
.goods-item .goods-price ins{font-size:16px}

/*登陆与注册页�?*/
.signin-page-wrap .sign-title{padding:0px 5px;border-bottom:none;height:auto}
.signin-page-wrap .x-input{width:284px;height:44px;text-indent:2em;+text-indent:1.5em;padding:0px 4px; background:url(i/icon.gif) no-repeat -266px -44px;+margin-left:0px}
.signin-page-wrap .action-account-check{background-position:-266px 0}
.signin-page-wrap .verify-input{width:100px;height:33px; text-indent:0.5em;line-height:33px;background:none}
.signin-page-wrap .sign-title h2{height:80px;background:url(i/sign_up.gif) no-repeat 5px 18px;text-indent:-999em;overflow:hidden;border-bottom:1px dashed #d7d7d7}
.signin-page-wrap .placeholder{text-indent:1.8em}
.signin-page-wrap .verify-input .placeholder{text-indent:1em}
.signin-page-wrap .need-signup{border-top:1px solid #ddd;background:#f0f0f0}
.signin-page-wrap .form-item{height:auto; padding-top:10px}
.signupin-content .notice-inline{}
.signin{margin-left:-394px}
.signup-article{width:413px;padding-left:815px;background:url(ad/login_pictr.jpg) no-repeat;padding-top:15px}
.signup-article .form-item{margin-bottom:27px}
.signin-page-wrap{background:url(ad/login_pictr.jpg) no-repeat !important;padding-top:15px;padding-bottom:20px}
.signup-article .sign-title{padding:0px 5px;border-bottom:none;height:auto}
.signup-article .sign-title h2{height:80px;overflow:hidden;border-bottom:1px dashed #d7d7d7;color:#dc0903;line-height:80px;padding-left:21px;font-size:30px;font-weight:bold}
.signup-article .x-input{font-size:11px;width:150px;height:37px;}
.signup-article .verify-input{width:114px}
.signup-article .form-label{width:92px;margin-top: 9px;}
.signup-article .form-act{margin-left:10px}
.signup-article .x-check{margin-left:15px}
.signup-article .btn-major span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#dc0903),color-stop(100%,#cc0903));background-image:-webkit-linear-gradient(#dc0903,#cc0903);background-image:-moz-linear-gradient(#dc0903,#cc0903);background-image:-o-linear-gradient(#dc0903,#cc0903);background-image:linear-gradient(#dc0903,#cc0903);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFdc0903',endColorstr='#FFcc0903') \9;border-radius:5px;width:210px}
.signup-article .btn-major:hover span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#cc0903),color-stop(100%,#dc0903));background-image:-webkit-linear-gradient(#cc0903,#dc0903);background-image:-moz-linear-gradient(#cc0903,#dc0903);background-image:-o-linear-gradient(#cc0903,#dc0903);background-image:linear-gradient(#cc0903,#dc0903);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFcc0903',endColorstr='#FFdc0903') \9;border-radius:5px;width:210px}
.signup-article .form-sub-label a{color:#dc0903}
.signup-article .notice-inline{padding-left:15px;line-height:20px}
.form-item{overflow:inherit !important}
.signupin-content .form-item{overflow:hidden !important}
.member-grid .no-information{padding:10px}
.security-list em{line-height:3.5}
.signin-page-wrap .notice-inline{top:48px}
/*.form-item-normal .btn-big span{padding:0px}*/
.liststyle{border:1px solid #ddd;margin:0;width:100%;border-width:1px 1px 0px 0px !important; background:none !important;border-color:#d0cfce !important}
.liststyle thead{height:30px; line-height:30px;}
.liststyle thead tr th{border:none;border:1px solid #d0cfce;border-width:0px 0px 1px 1px}
.liststyle tr th{background:#eae9e7;border:1px solid #d0cfce;border-width:0px 0px 1px 1px}
.liststyle tr td{padding-left:25px;border:1px solid #d0cfce !important;border-width:0px 0px 1px 1px !important}
.article-item{border-color:#d0cfce}
.wrap_artlist{padding-bottom:15px}
.dialog-tips-content .btn-caution span{width:auto}

/*购物车以及订单页�?*/
.cart-empty .icon{width:185px;height:189px;background:url(i/cart.jpg) no-repeat;text-indent:-999em; vertical-align:middle}
.change-payment .btn-caution span,
.pop-attention-main .btn-caution span{padding:0px;} 
.cart-title h1{padding:10px 0px}
.cart-title i{width:31px;height:31px;background:url(i/tbg.png) no-repeat -114px -155px;text-indent:-999em;overflow:hidden}
.cart_top #cart_steps{padding-left:510px;width:468px}
.steps{margin:10px 0px}
.cart_top .steps span{padding:0px; background:url(i/step.gif) no-repeat 0px 0px;width:156px;height:56px;overflow:hidden;text-indent:-999em}
.cart_top .steps .step-1 span{width:156px;height:56px;}
.cart_top .steps .step-2 span{background-position:-156px 0px}
.cart_top .steps .step-3 span{background-position:right 0px}
.cart_top .steps .active span{background-position:0px -60px}
.cart_top .steps .active2 span{background-position:-156px -60px}
.cart_top .steps .active3 span{background-position:right -60px}
.cart_top .steps a{padding:0px}
.cart_top .steps a:hover{background:none;padding:0px}
/*会员中心页面*/
.member-menu{border:none;background:#f8f6f4}
.member-menu-list{padding:0px}
.member-menu-title{height:30px;line-height:30px}
.security-actions .btn-caution span{width:auto}
.action-sendmsg span{width:auto;}
.form-handling .btn-caution span,
.action-confirm-delivery span{width:auto}
.pop-attention-main .btn-caution span{width:180px} 
.member_tt{height:45px;line-height:45px;color:#000;font-size:18px;padding-left:52px; background:url(i/m_icon.gif) no-repeat 0px 0px}
.member-menu .member-menu-mod h2{height:48px;line-height:48px;color:#FFF; background:url(i/m_icon.gif) no-repeat 10px -45px #f08200;padding-left:57px}
.member-menu .parent-2 h2{background-position:10px -92px}
.member-menu .parent-3 h2{background-position:10px -138px}
.member-menu .parent-4 h2{background-position:10px -184px}
.member-menu li{height:46px;border-top:1px solid #fff;border-bottom:1px solid #d7d7d7;line-height:46px;padding:0px}
.member-menu li a{background:url(i/m_icon2.gif) no-repeat 5px 0px;padding-left:61px;display:block}
.member-menu li a:hover{background:url(i/m_hicon.gif) no-repeat 6px -1px #e3e0df}
.member-menu .parent-1 .curr-2 a{background-position:5px -45px}
.member-menu .parent-1 .curr-3 a{background-position:5px -93px}
.member-menu .parent-1 .curr-4 a{background-position:5px -139px}
.member-menu .parent-2 .curr-1 a{background-position:5px -184px}
.member-menu .parent-2 .curr-2 a{background-position:5px -229px}
.member-menu .parent-2 .curr-3 a{background-position:5px -276px}
.member-menu .parent-2 .curr-3 a:hover{background-position:6px -276px}
.member-menu .parent-2 .curr-4 a{background-position:5px -321px}
.member-menu .parent-2 .curr-5 a{background-position:5px -368px}
.member-menu .parent-3 .curr-1 a{background-position:5px -414px}
.member-menu .parent-3 .curr-1 a:hover{background-position:4px -414px}
.member-menu .parent-4 .curr-1 a{background-position:5px -414px}
.member-menu .parent-4 .curr2 a{background-position:5px -460px}
.member-menu .parent-4 .curr3 a{background-position:5px -505px}
.page-article .member-title{height:44px;line-height:44px;background:url(i/mm_tt_bg.gif) repeat-x;padding-right:15px}
.page-article .member-title h2,
.page-article .member-title p{height:44px;line-height:44px;}
.signupin-content .form-item{height:auto;}
.form-label{vertical-align:middle;line-height:1.5em}
.cart_top .cart-title{width:300px;}
.payment-container .title h2{padding:10px 0px}
.cart_top .nf{float:none}


/*团购页面样式*/
.page-maincontent{margin-top:10px}
.groupbuy-grid .hover{border-color:#f08200}
.groupbuy-ident ins{color:#FFF !important}

.cat-children-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    display: none;
    left: 230px;
    position: absolute;
    width: 558px;
    z-index: 90;}



.category-list .cat-link {
    display: none;
    float: right;
    width: 220px;
}



.category-list .sub-category dt {
    float: left;
    font-weight: bold;
    padding: 0 15px 0 5px;
    text-align: right;
    width: auto;
    word-wrap: break-word;
}

.form-act .form-sub-label{font-size:11px;}
.cat-children .sub-category dd{display:none;}
