<div class="tableform">
    <h5><{t}>参与者列表<{/t}></h5>
    <div class="division">
	    <div style="margin-bottom:10px;">
		  		<span><{t}>活动参加人数:<{/t}></span><span><{$join_count}></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  		<span><{t}>获奖人数:<{/t}></span><span><{$join_win}></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  		<span><{t}>赞总人数:<{/t}></span><span><{$zan_count}></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  		
		  		<{foreach from=$gift_list key=k item=i}>
		  		<span><{t}>获得[<{$i}>]人数:<{/t}></span><span><{$gift_count.$k}></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  		<{/foreach}>
		  		
	</div>
		
	<div style="clear:both"></div>
      <table cellspacing="0" cellpadding="3" width="100%" class="gridlist">
        <col class="span-3"/>
        <col class="span-auto"/>
        <col class="span-2"/>
        <thead>
          <tr>
            <th style="width:20%"><{t}>微信你昵称<{/t}></th>
            <th><{t}>openid<{/t}></th>
            <th><{t}>手机<{/t}></th>
            <th><{t}>地区<{/t}></th>
            <th><{t}>礼品<{/t}></th>
            <th><{t}>被赞数<{/t}></th>
          </tr>
        </thead>
        <tbody>
          <{foreach from=$obster_list item=item}>
          <tr>
            <td><{$item.m_nick_name}></td>
            <td><{$item.m_openid}></td>
            <td><{$item.phone}></td>
            <td><{$item.area}></td>
            <td><{$item.gift}></td>
            <td><{$item.z_count}></td>
          </tr>
          <{/foreach}>
        </tbody>
      </table>
     
	  
    </div>
</div>