.index-marquee div{padding:0px;margin:0px;}
.index-marquee{padding:0px;margin:10px;margin-top:20px;margin-top:20px;margin-bottom:0px;border:0px;border-top:1px dotted #cccccc;background-color:#fff;color:#48a4b9;line-height:3rem;height:3rem;text-align:center;}
.index-marquee .itemsBg{position:relative;width:100%;line-height:3rem;height:3rem;overflow:hidden;}
.index-marquee .itemsWrap{width:100%;position:relative;line-height:3rem;height:3rem;overflow:hidden;margin-left:24px;}
.index-marquee .items{position:absolute;height:20000em;width:100%;}
.index-marquee .item{line-height:3rem;height:3rem;width:100%;text-align:left;}
.index-marquee a{color:#48a4b9;font-size:1.5rem;display:block;height:100%;width:100%;word-wrap:normal;overflow-x:hidden;text-overflow:ellipsis;}
.index-marquee .dot{position:absolute;top:0px;left:0px;width:24px;text-align:left;}
.fc{clear:both;font-size:0;line-height:0px;height:0px;}



#index_slider img{width:100%!important}

.index_cat_title{border-bottom:0px; width:95%; margin-top:0px; border-top:1px solid #ccc; clear:both ;}
