/* CSS Document */

/*基础*/
ul,li{ list-style:none}

/*头部*/
.header { text-align: center;}
.header h1 { font-size: 200%;color: #333;margin-top: 30px;}
.header p {font-size: 14px;}

/*公用*/
.tt_bg{ background:url(../images/tt.jpg) repeat-x !important}
.full_img{width:100%}
.four_cut{width:25%; float:left}
.am-slider .am-slides img{ width:auto !important}
.am-comment-success.am-comment-flip .am-comment-main::after {
border-left-color: #5eb95e !important;
}
.am-comment-main::after {
 border-right-color: #ffffff !important;}
 *, *::before, *::after {
    box-sizing: border-box;
}
}
}

.dialog {
  background-color: white;
}
.dialog .dialog-head {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}

#J_mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
}
.dialog .close {
  position: absolute;
  top: -14px;
  right: -14px;
  background-color: white;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 2px solid black;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
}

.no-border {
  border: 0;
  padding: 0px 10px;
}
.act {
  border-color: #900;
}

.js_btn{width:531px;height:107px;border:none;background: url('../images/pay_btn.png') no-repeat;}





























































