<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'/>
<link rel="stylesheet" href="/public/app/wap/statics/css/lobster.css">

<title><{$title}></title>
</head>

<body>
	<div class="container">
		<div class="lobster_banner"><img src="<{if $is_show_share}>/public/app/wap/statics/images/lobster/lobster_back1_share.jpg<{else}>/public/app/wap/statics/images/lobster/lobster_back1.png<{/if}>"></div>
		<div class="lobster_body">
				<div class="end_baea">
					<div class="end_lob_back">
						<span class="end_txt">历时10个小时，本次品珍鲜活推出的送龙虾活动已逾十五万人参与，<span style="color:red">3000</span>只龙虾已经全部派送完毕~
							<a href="<{$end_url}>">点击查看详情</a><br>
							感谢您的参与，敬请期待更多优惠活动~
							活动奖品将尽快发放，请时刻关注<br>
							<span class="pz_t">品珍鲜活</span>
						</span>
					</div>
				</div>
				<div style="clear:both;"></div>
				<div class="song_txt"><{$m_info['m_nick_name']}>已成功获得<span class=""><{$m_info['z_count']}></span>个好友的支持</div>
				<div class="song_tips">30个好友支持即可获得品珍鲜活送出的熟冻波士顿龙虾一只</div>
				<div style="clear:both"></div>
			<div class="lobster_comment">
				<div class="c_header">看看谁支持了<{$m_info['m_nick_name']}></div>
					<div class="comment_area">
						<{foreach from=$zan_list item=i}>
						<div class="lobster_com_list">
							<div class="u_head">
								<{if $i.z_headimgurl }>
									<img src="<{$i.z_headimgurl}>">
								<{else}>
									<img src="/public/app/wap/statics/images/lobster/test_header.jpg">
								<{/if}>
							</div>
							<div class="com_u_det">
								<div class="u_name"><{$i.z_nick_name}><span class="c_time"><{$i.z_time}></span></div>
								<div class="u_comment">送你一只龙虾，我只能帮你到这了~</div>
							</div>
							<div style="clear:both"></div>
							<div class="com_line"></div>
						</div>
						<{/foreach}>
				</div>
			</div>
		</div>
		
	</div>
	
	<!-- 数据统计 -->
	<div style="display:none">
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253646661'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1253646661' type='text/javascript'%3E%3C/script%3E"));</script><span id="cnzz_stat_icon_1253646661"><a href="http://www.cnzz.com/stat/website.php?web_id=1253646661" target="_blank" title="站长统计">站长统计</a></span><script src=" http://s11.cnzz.com/z_stat.php?id=1253646661" type="text/javascript"></script><script src="http://c.cnzz.com/core.php?web_id=1253646661&amp;t=z" charset="utf-8" type="text/javascript"></script>
	</div>

</body>
</html>

<script type="text/javascript">

</script>
