<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'/>
<link rel="stylesheet" href="/public/app/wap/statics/css/lobster.css">

<title><{$title}></title>
</head>

<body>
	<div class="container">
		<div class="member_lobster">
			<div class="zan_txt">
				恭喜你已成功获得<span><{$count}></span>个好友支持，
				奖品将于此次活动结束后统一发放
				<!-- <div class="get_gift_btn">
					<a><img src="/public/app/wap/statics/images/lobster/get_gift_btn.png"></a>
				</div>
 				-->
			</div>
		</div>
		
	</div>
	
	<!-- 数据统计 -->
	<div style="display:none">
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253646661'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1253646661' type='text/javascript'%3E%3C/script%3E"));</script><span id="cnzz_stat_icon_1253646661"><a href="http://www.cnzz.com/stat/website.php?web_id=1253646661" target="_blank" title="站长统计">站长统计</a></span><script src=" http://s11.cnzz.com/z_stat.php?id=1253646661" type="text/javascript"></script><script src="http://c.cnzz.com/core.php?web_id=1253646661&amp;t=z" charset="utf-8" type="text/javascript"></script>
	</div>
</body>
</html>
