<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'/>
<link rel="stylesheet" href="/public/app/wap/statics/css/lobster.css">

<title><{$title}></title>
</head>

<body>
	<div class="container">
		<div class="member_lobster">
			<div class="zan_txt">
				你已获取<span><{$count}></span>个好友支持，还差<span><{$lost}></span>个，赶紧呼朋唤友给您送龙虾啦~<br><br>
				<a href="<{$index_url}>"><img src="/public/app/wap/statics/images/lobster/share_btn.png" ></a>
			</div>

		</div>
		
	</div>
</body>
</html>
