<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'/>
<link rel="stylesheet" href="/public/app/wap/statics/css/lobster.css">

<title><{$title}></title>
</head>

<body>
	<div class="container">
		<div class="zan_success">
			<div class="success_txt">
				<span class="span1">你已经成功送出一只“龙虾”</span><br>
				<span>吃<span style="color:red">龙虾</span>行大运</span><br>
				<span class="span1">你也想要获得免费龙虾吗？</span><br>
				<div class="iwant_btn">
					<a href="<{$want_join_btn}>"><img src="/public/app/wap/statics/images/lobster/z_suc_btn.png"></a>
				</div>

			</div>
		</div>
		
	</div>
</body>
</html>