body{ margin:0; padding:0; list-style:none;}
a,img{ border:0px; }
.yrjweb_head{ width:1279px; height:auto; margin:0 auto;}
.yrjweb_main{ width:1279px; height:auto; margin:0 auto; background:#f08519; overflow:hidden}
.yrjweb_main a{ float:left; width:602px; height:269px; margin-left:24px; margin-top:20px;}
.yrjweb_foot{ width:1279px; height:auto; margin:0 auto;}