<span class="region" vtype="<{$params.vtype}>" id="<{$params.id}>">
    <input name="<{$params.name}>" package="<{$params.package}>" type="hidden" value="<{$params.value}>" />

    <select data-level = "0"><option data-key="0" value="0">请选择</option></select>
    <select data-level = "1" style="display:none"></select>
    <select data-level = "2" style="display:none"></select>
    <select data-level = "3" style="display:none"></select>
    <select data-level = "4" style="display:none"></select>
</span>


<script type="text/javascript">
var path ='<{$env.statics_host_url}>/ectools/statics/js/';
var data_path ='<{$env.base_url}>/data/misc/';
var container = $('#<{$params.id}>');
var callback = '<{$params.callback}>';
var str = container.find('input').value;
var sels = container.find('select');

$.getScript(,function(){
    // init region

    // bind event
});


</script>