<span class="region" vtype="<{$params.vtype}>" id="<{$params.id}>">
    <input name="<{$params.name}>" package="<{$params.package}>" type="hidden" value="<{$params.value}>" />

    <select data-level = "0" style="display:none;width:auto;"></select>
    <select data-level = "1" style="display:none;width:auto;"></select>
    <select data-level = "2" style="display:none;width:auto;"></select>
    <select data-level = "3" style="display:none;width:auto;"></select>
    <select data-level = "4" style="display:none;width:auto;"></select>
</span>

<script type="text/javascript">
var path ='<{$env.statics_host_url}>/ectools/statics/js/';
var data_path ='<{$env.base_url}>/data/misc/';
var container = $('#<{$params.id}>');
var callback = '<{$params.callback}>';
var str = container.find('input').value;
var sels = container.find('select');

$(function(){
    $(container).on('change','select',function(){

        if( $(this).find('option:selected').val()==0 )
            hideNextSelect(this);
        else
            showNextSelect(this);

        setRegionData(container);
    });
    
    sels[0].innerHTML=genOptions(0);
    
    $(sels[0]).css('display','inline-block');
})
</script>