<!-- Header -->

<div class="valuedetail" style="width:100%; height:49px; background:#000000;display:none; position:fixed; z-index:9998">
<div style="width:40%; height:49px; background:#FF6633;white-space:nowrap; line-height:49px; font-size:21px; color:#FFFFFF; float:left">
<span style="font-size:14px"> ￥</span>1999.0 /<span style="font-size:14px"> 500g</span>
</div>
<ul style="width:40%; height:auto; position:absolute; left:0; top:49px; line-height:49px; background:#333333; font-size:21px; color:#FFFFFF; list-style:none; margin:0; padding:0;">
<li > <span style="font-size:14px">￥</span>1999.0 /<span style="font-size:14px"> 500g</span></li>
<li> <span style="font-size:14px">￥</span>1999.0 /<span style="font-size:14px"> 500g</span></li>

</ul>
<div style="width:60%; height:49px; font-size:12px; color:#cccccc;float:left;line-height:49px; ">库存100件
<div style="float:right">
<a href="" class="am-icon-btn am-icon-search" style="float:left; color: #999999; height:30px; width:30px; background:none; border:1px solid #999999; line-height:30px; margin-top:5px;"></a>
<a href="" class="am-icon-btn am-icon-star" style="float:left; color: #999999; height:30px; width:30px; background:none; border:1px solid #999999; line-height:30px; margin-top:5px;" ></a>
<a href="" class="am-icon-btn am-icon-comments-o" style="float:left; color: #999999; height:30px; width:30px; background:none; border:1px solid #999999; line-height:30px; margin-top:5px;" >
<span style=" font-size:8px; color:#FF9900; float:left; line-height:8px;">1000+</span></a></div>
</div>
</div>
<div class="valuepay" style="width:100%; height:100px; background:#000000;display:none; position:fixed; bottom:0; z-index:9998; padding:10px;">
<div style="color:#999999; line-height:18px; height:50px; float:left">
<a href="" class="am-icon-plus-circle am-icon-lg" style="float:left;color:#999999;" ></a>
<input type="text" style="float:left; height:30px; width:10%; margin:5px;">
<a href="" class="am-icon-minus-circle am-icon-lg"  style="float:left;color:#999999;"></a>
<a href="shopingpay.html"><img  style="width:50%" src="assets/i/examples/buy_btn.png"></a>
<a href="shopingcart.html" class="am-icon-btn am-icon-shopping-cart" style="float:right; color: #999999; height:30px; width:30px; background:none; border:1px solid #999999; line-height:30px; margin-top:5px; position:relative"> 
<span style=" height:10px; width:10px; border-radius:10px; background:#FF9900; color:#FFFFFF; text-align:center; line-height:10px; position:absolute; top:0px; right:0px; display:block"></span></a>
</div>
<div style="font-size:14px; color:#FFFFFF; height:30px; line-height:14px; width:100%; clear:both">此商品仅限网上购买，如需购买请网上下单。买即包邮，享受95折优惠</div>
</div>
<div class="valuehide" style="height:1136px; width:100%; background:#fff;
filter:alpha(opacity=0); /*IE*/-moz-opacity:0; /*Firefox0%*/
opacity:0;/*其他*/display:none;  position:fixed; z-index:9997"></div>



<!-- main -->
<div data-am-widget="slider" class="am-slider am-slider-default valueshow" 
  data-am-slider='{&quot;controlNav&quot;:false,&quot;slideshow&quot;:false}'>

  <ul class="am-slides">

    <{if $page_product_basic.images}>
        <{$imgCount = 0}>
        <{foreach from=$page_product_basic.images item=image}>

        <{if ++$imgCount==1}>
        <div style="width:100%; height:auto; text-align:center; margin-top:30%; position:absolute; color:#FFFFFF;  background:#000000;filter:alpha(opacity=50); /*IE滤镜*/-moz-opacity:0.5; /*Firefox私有*/opacity:0.5;/*其他*/">
         <h1><{$page_product_basic.title}></h1>
         <{if $page_product_basic.brief}><p><{$page_product_basic.brief}></p><{/if}>
         <p>仅售：<{$page_product_basic.price}></p>
        </div>
        <{/if}>

        <li class="showvaluebox">
          <img src="<{$image.image_id|storager:'s'}>" alt="<{$page_product_basic.title}>">
        </li>
        <{/foreach}>
    <{else}>
        <li class="showvaluebox"><img src="<{$setting.imageDefault.S.default_image|storager}>" alt="<{$page_product_basic.title}>"></li>
    <{/if}>



  <!-- comments -->
  <li class="showvaluebox">
      <div class="doc-example" style="padding:10px;">
     <ul class="am-comments-list am-comments-list-flip">
      <ul class="am-pagination am-pagination-centered"><li class="am-disabled"><a href="#" class="am-panel-hd">2015-05-07</a></li> </ul>
    <li class="am-comment">
      <a href="#link-to-user-home">
      <img width="48" height="48" class="am-comment-avatar" alt="" src="assets/i/examples/bw-2014-06-19.jpg"></a>
      <div class="am-comment-main">
    <div class="am-comment-bd am-alert-default"><p><a href="#lurenyi">@路人乙</a>你好你好啊，这个很不错哦！</p></div></div>
    </li>
    <li class="am-comment ">
      <a href="#link-to-user-home">
    <img width="48" height="48" class="am-comment-avatar" alt="" src="assets/i/examples/bw-2014-06-19.jpg"></a>
    <div class="am-comment-main">
      <div class="am-comment-bd am-alert-default"><p><a href="#lurenyi">@路人乙</a>不错，好评！</p></div></div>
    </li>  
    <li class="am-comment am-comment-flip am-comment-success"><a href="#link-to-user-home"><img width="48" height="48" class="am-comment-avatar" alt="" src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/96/h/96"></a><div class="am-comment-main"><div class="am-comment-bd am-alert-success"><p><a href="#lurenyi">品珍客服</a>谢谢光临！</p></div></div></li>
     <li class="am-comment ">
      <a href="#link-to-user-home">
    <img width="48" height="48" class="am-comment-avatar" alt="" src="assets/i/examples/bw-2014-06-19.jpg"></a>
    <div class="am-comment-main">
      <div class="am-comment-bd am-alert-default"><p><a href="#lurenyi">@路人乙</a>不错，好评！</p></div></div>
    </li>  
    
   <ul class="am-pagination am-pagination-centered"><li class="am-disabled"><a href="#" class="am-panel-hd">2015-05-08</a></li> </ul>
   
     <li class="am-comment ">
      <a href="#link-to-user-home">
    <img width="48" height="48" class="am-comment-avatar" alt="" src="assets/i/examples/bw-2014-06-19.jpg"></a>
    <div class="am-comment-main">
      <div class="am-comment-bd am-alert-default"><p><a href="#lurenyi">@路人乙</a>不错，好评！</p></div></div>
    </li>     
    <li class="am-comment am-comment-flip am-comment-success"><a href="#link-to-user-home"><img width="48" height="48" class="am-comment-avatar" alt="" src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/96/h/96"></a><div class="am-comment-main"><div class="am-comment-bd  am-alert-success"><p><a href="#lurenyi">品珍客服</a>谢谢光临！</p></div></div></li>
     <li class="am-comment ">
      <a href="#link-to-user-home">
    <img width="48" height="48" class="am-comment-avatar" alt="" src="assets/i/examples/bw-2014-06-19.jpg"></a>
    <div class="am-comment-main">
      <div class="am-comment-bd am-alert-default"><p><a href="#lurenyi">@路人乙</a>不错，好评！</p></div></div>
    </li>  
    <li class="am-comment am-comment-flip am-comment-success"><a href="#link-to-user-home"><img width="48" height="48" class="am-comment-avatar" alt="" src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/96/h/96"></a><div class="am-comment-main"><div class="am-comment-bd am-alert-success"><p><a href="#lurenyi">品珍客服</a>谢谢光临！！</p></div></div></li>
    </ul>
    <div class="am-fr"><a href="#" class="am-text-danger">还有1000条评论</a></div>
    </div>
    </li>


  </ul>
</div>


<div class="amz-toolbar " style="right:2%; bottom:10%; position:fixed">
<a class="am-icon-shopping-cart am-icon-btn am-icon-question-circle" title="购物车" href="#"></a>
</div>


<!-- Footer -->
<footer data-am-widget="footer" class="am-footer am-footer-default"></footer>


<!-- Navbar -->


<script type="text/javascript">
$(document).ready(function(){
  $(".showvaluebox").click(function(){
  $(".valuedetail").show();
  $(".valuepay").show(); 
  $(".valuehide").show();   
  });  
  $(".valuehide").click(function(){
  $(".valuehide").hide();
  $(".valuepay").hide();
  $(".valuedetail").hide();
  
   });  
});
</script>
