<{include file='wap/product/popup.html'}>


<!-- main -->
<div id="productMain" data-am-widget="slider" class="am-slider am-slider-default valueshow" style="height:100%">

  <ul class="am-slides">

    <{if $product_imgs}>
        <{assign var="imgCount" value=0}>
        <{foreach from=$product_imgs item=image}>
        <li class="showvaluebox">
          <{if ++$imgCount==1}>
            <div style="width:100%; height:auto; text-align:center; margin-top:30%; position:absolute; color:#FFFFFF;  background:#000000;filter:alpha(opacity=50); /*IE滤镜*/-moz-opacity:0.5; /*Firefox私有*/opacity:0.5;/*其他*/">
             <h1><{$page_product_basic.title}></h1>
             <{if $page_product_basic.brief}><p><{$page_product_basic.brief}></p><{/if}>
             <p>仅售：<{$page_product_basic.price}></p>
            </div>
          <{/if}>
          <img src="<{$image}>" alt="<{$page_product_basic.title}>">
        </li>
        <{/foreach}>
    <{else}>
        <li class="showvaluebox"><img src="<{$setting.imageDefault.S.default_image|storager}>" alt="<{$page_product_basic.title}>"></li>
    <{/if}>


  <!-- comments -->
  <{include file='wap/product/comments.html'}>
  


  </ul>
</div>


<div class="amz-toolbar " style="right:2%; bottom:10%; position:fixed">
<a class="am-icon-shopping-cart am-icon-btn am-icon-question-circle" title="购物车" href="<{link app=b2c ctl=wap_cart}>"></a>
</div>


<!-- Footer -->
<footer data-am-widget="footer" class="am-footer am-footer-default"></footer>


<form id="formBuyNow" style="display:none">
    <input id="goodsId" type="text" name="goods[goods_id]" value="<{$page_product_basic.goods_id}>" />
    <input id="productId" type="text" name="goods[product_id]" value="<{$page_product_basic.product_id}>" />
    <input id="num" type="text" name="goods[num]" value="1" />
    <input id="stock" type="text" name="stock" value="" />
    <input id="limit_nums" type="text" name="limit_nums" value="" />


    <input type="text" name="btype" value="is_fastbuy" />
    <input type="text" name="response_json" value="1" />
</form>
<script type="text/javascript">

$(document).ready(function(){
  $('#productComments').css('height',document.documentElement.clientHeight);
  $(".showvaluebox").click(function(){
  $(".valuedetail").show();
  $(".valuepay").show();
  $(".valuehide").show();
  });
  $(".valuehide").click(function(){
  $(".valuehide").hide();
  $(".valuepay").hide();
  $(".valuedetail").hide();
  });

  $('#productMain').flexslider({
    slideshow: false,
    controlNav:false,
    touch:true,
  });

    // specification click
    $('#curSpec').click(function(){
        if(document.getElementById('specList').style.display=='none') 
            document.getElementById('specList').style.display='block';
        else 
            document.getElementById('specList').style.display='none';
    });

    // specification select
    $('#specList').on('click','li',function(){
        $('#curSpec .specPrice').html($(this).find('.specPrice').html());
        $('#curSpec .specValue').html($(this).find('.specValue').html());
        var curSpec = $.parseJSON( $(this).attr('specData') );
        $('#curStore').html(curSpec.store );

        $('#productId').val( curSpec.product_id );
        
        $('#specList').hide();
    });

    $('#btnAdd2Fav').click(function(){
        $.ajax({
            url:'<{link app=b2c ctl=wap_member act=ajax_fav}>',
            data:'type=goods&gid='+$('#goodsId').val(),
            method:'POST',
            dataType:'json',
            success:function(data){
                if(data.success){
                    // todo: change img
                    
                }
            }
        });
    });


    // product amount change
    $('#amountPlus').click(function(){
        var amount = parseInt($('#amount').val());
        $('#amount').val(++amount);
    });

    $('#amountMinus').click(function(){
        var amount = parseInt($('#amount').val());
        if(amount>0){
            $('#amount').val(--amount);
        }
    });

    $('#btnBuyNow').click(function(){
        $.ajax({
            url:'<{link app=b2c ctl=wap_cart act=add arg0=goods}>',
            data:$('#formBuyNow').serialize(),
            method:'POST',
            dataType:'json',
            success:function(data){
                if(data.success)
                    document.location.href=data.redirect;
            }
        });
    });


});
</script>
