<app version="1.0">
  <name>mobileapi</name>

  <description>移动API</description>

  <author>
      <name>eTechv 开发团队</name>
      <email>iegss@126.com</email>
      <url>www.etechv.com</url>
  </author>

  <version>0.1</version>
  <parent_model_class>dbeav_model</parent_model_class>
  <license>license</license>
  <depends>
    <app>b2c</app>
  </depends>

</app>
