<div class="full-screen">
    <div class="head-nav">
        <div class="back" ><a href="javascript:history.back()"></a></div>
        <div style="box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; display: block;line-height: 45px;text-align: center;color:#21292c;">特惠</div>
        <div class="home" ><a href="./"></a></div>
    </div>
</div>
<div class="page">
    <ul class="tehui-list">
        <li><a href=""><img src="" /></a></li>
        <li><a href=""><img src="" /></a></li>
        <li><a href=""><img src="" /></a></li>
    </ul>
     <div class="fenye">1211</div>
    
</div>
