#content {background:#f2eee5; padding:0; margin:0;}
#meat_main{font-size:0px;}
#meat_main a.51meat_alink{border:0px; border:none; padding:0; margin:0;}
#meat_main a.51meat_alink img{ border:0px;}
#meat_main ul.51meat_paylist{ color:#FFFFFF; list-style:none}
#meat_main ul.51meat_paylist li{ line-height:40px;}
#meat_main li{ list-style:none; line-height:35px; font-size:14px; text-indent:10px;}