<header data-am-widget="header" class="am-header am-header-default tt_bg">
<div class="am-header-left am-header-nav">
  <a href="products.html" class="">
      <i class="am-header-icon am-icon-reply"></i>
    </a>
	</div>
  <h1 class="am-header-title">
    <a href="#title-link">订单提交</a>
  </h1>
  <div class="am-header-right am-header-nav">
    <a href="search.html" class="">
      <i class="am-header-icon am-icon-search"></i>
    </a>
   <a href="index2.html" class="">
      <i class="am-header-icon am-icon-home"></i>
    </a>
	</div>
</header>

<div style=" padding:10px;">
<p>付款方式：<{$order.payinfo.pay_app_id|payname}></p>
<form action="<{$form_action}>" method="post" id="paycenter_form">
<input type="hidden" name="payment[order_id]" value="<{$order.order_id}>">
<input type="hidden" name="payment[combination_pay]" value="false">
<input type="hidden" name="payment[def_pay][cur_money]" value="<{$order.cur_money}>">
<input type="hidden" name="payment[def_pay][pay_app_id]" value="<{$order.payinfo.pay_app_id}>">
<input type="hidden" name="payment[memo]" value="<{$order.memo}>">
<{if $order.payinfo.pay_app_id=='deposit'}>
,余额：<span class="price"><{$deposit_money|cur_odr:$order.currency}></span>
<input type="hidden" name="payment[combination_pay]" value="false">
<{if $deposit_money-$order.total_amount < 0}>
<em>您需要为<a href="<{link app=b2c ctl=wap_member act=deposit}>" class="btn red">预存款充值</a></em>
<{/if}>
<{/if}>

<{if $order.promotion_type!='prepare'}>
                                <{if !($order.payinfo.pay_app_id == '-1' || $order.payinfo.pay_app_id == 'offline')}>
                                    <{if $order.payinfo.pay_app_id == 'deposit'}>
                                        <{if $order.cur_money - $deposit_money <= 0}>
                                        <p><button type="submit" class="am-btn am-btn-danger am-round btn red">去付款</button></p>
                                        <{/if}>
                                    <{else}>
                                        <{if $order.payinfo.platform =='iscommon' || $order.payinfo.platform == $device_is_wx ? 'iswx' :'iswap'}>
                                            <p><button type="submit" class="am-btn am-btn-danger am-round btn red">去付款</button></p>
                                        <{else}>
                                            <label class="f-red">(支付方式不支持手机版，请选择其他支付方式支付！)</label>
                                        <{/if}>
                                    <{/if}>
                                <{/if}>
                            <{/if}>
                            <!--预售信息判断-->
                            <{if $order.promotion_type=='prepare'}>
                                <{if !($order.payinfo.pay_app_id == '-1' || $order.payinfo.pay_app_id == 'offline')}>
                                    <{if $order.payinfo.pay_app_id == 'deposit'}>
                                        <{if $order.cur_money - $deposit_money <= 0}>
                                            <{if $prepare.nowtime < $prepare.begin_time  && $prepare.status=='true'}>
                                                活动还没到时间!
                                            <{/if}>
                                            <{if $prepare.nowtime > $prepare.begin_time && $prepare.nowtime < $prepare.end_time  && $order.pay_status=='0' && $prepare.status=='true'}>
                                                <p><button type="submit" class="am-btn am-btn-danger am-round btn red">去付订金</button></p>
                                            <{/if}>
                                             <{if $prepare.nowtime > $prepare.begin_time && $prepare.nowtime < $prepare.begin_time_final  && $order.pay_status=='3' && $prepare.status=='true'}>
                                                <p><button type="submit" class="am-btn am-btn-danger am-round btn red" disabled="false">等待支付尾款</button></p>
                                            <{/if}>
                                            <{if $prepare.nowtime > $prepare.begin_time_final && $prepare.nowtime < $prepare.end_time_final  && $order.pay_status=='3' && $prepare.status=='true'}>
                                                <p><button type="submit" class="am-btn am-btn-danger am-round btn red">支付尾款</button></p>
                                            <{/if}>
                                            <{if $prepare.nowtime > $prepare.end_time_final && $prepare.status=='true'}>
                                                <p><button type="submit" class="am-btn am-btn-danger am-round btn red" disabled="false">活动结束</button></p>
                                            <{/if}>
                                        <{/if}>
                                    <{else}>
                                        <{if $order.payinfo.platform =='iscommon' || $order.payinfo.platform =='iswap'}>
                                            <{if $prepare.nowtime < $prepare.begin_time  && $prepare.status=='true'}>
                                                活动还未开始!
                                            <{/if}>
                                            <{if $prepare.nowtime > $prepare.begin_time && $prepare.nowtime < $prepare.end_time  && $order.pay_status=='0' && $prepare.status=='true'}>
                                                <p><button type="submit" class="am-btn am-btn-danger am-round btn red">去付订金</button></p>
                                            <{/if}>
                                             <{if $prepare.nowtime > $prepare.begin_time && $prepare.nowtime < $prepare.begin_time_final  && $order.pay_status=='3' && $prepare.status=='true'}>
                                                <p><button type="submit" class="am-btn am-btn-danger am-round btn red" disabled="false">等待支付尾款</button></p>
                                            <{/if}>

                                            <{if $prepare.nowtime > $prepare.end_time && $prepare.nowtime < $prepare.begin_time_final  && $order.pay_status=='0' && $prepare.status=='true'}>
                                                <p><button type="submit" class="am-btn am-btn-danger am-round btn red" disabled="false">订金支付时间已过！</button></p>
                                            <{/if}>

                                            <{if $prepare.nowtime > $prepare.begin_time_final && $prepare.nowtime < $prepare.end_time_final  && $order.pay_status=='3' && $prepare.status=='true'}>
                                                <p><button type="submit" class="am-btn am-btn-danger am-round btn red">支付尾款</button></p>
                                            <{/if}>
                                            <{if $prepare.nowtime > $prepare.end_time_final && $prepare.status=='true'}>
                                                <p><button type="submit" class="am-btn am-btn-danger am-round btn red" disabled="false">活动结束</button></p>
                                            <{/if}>
                                        <{else}>
                                            <label class="f-red">(支付方式不支持手机版，请选择其他支付方式支付！)</label>
                                        <{/if}>
                                    <{/if}>
                                <{/if}>
                            <{/if}>

</form>
                            <{if $order.payinfo.pay_app_id != '-1'}>
                            <p><a href="javascript:void(0);" data-am-modal="{target: '#my-alert01',width: 320}">更换支付方式></a></p>
                            <{/if}>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
<p>订单号：<{$order.order_id}></p>
<p>应付金额：
<span class="am-text-danger">
<{if $order.promotion_type!='prepare'}>
                            <{$order.cur_money|cur:$order.currency}>
                        <{/if}>
                         <!--预售信息的判断-->
                        <{if $order.promotion_type=='prepare' && $prepare.nowtime > $prepare.begin_time && $prepare.nowtime < $prepare.end_time&& $order.pay_status=='0' && $prepare.status=='true' && $prepare.promotion_price > $prepare.preparesell_price
                        }>
                          <{$prepare.preparesell_price|cur:$order.currency}>
                        <{/if}>

                        <{if $order.promotion_type=='prepare' && $prepare.nowtime > $prepare.begin_time && $prepare.nowtime < $prepare.end_time&& $order.pay_status=='0' && $prepare.status=='true' && $prepare.promotion_price == $prepare.preparesell_price
                        }>
                           <{$order.cur_money|cur:$order.currency}>
                        <{/if}>

                        <{if $order.promotion_type=='prepare' && $prepare.nowtime > $prepare.begin_time && $prepare.nowtime < $prepare.begin_time_final && $order.pay_status=='3'
                        && $prepare.status=='true'
                        }>
                          尾款支付时间还未开始，敬请等待！
                        <{/if}>

                        <{if $order.promotion_type=='prepare' && $prepare.nowtime > $prepare.end_time && $prepare.nowtime < $prepare.begin_time_final && $order.pay_status=='0'
                        && $prepare.status=='true'
                        }>
                          订金支付时间已过,无法支付！
                        <{/if}>

                        <{if $order.promotion_type=='prepare' && $prepare.nowtime > $prepare.end_time_final && ($order.pay_status=='3' || $order.pay_status=='0')
                        && $prepare.status=='true'
                        }>
                          尾款支付时间已过！
                        <{/if}>

                         <{if $order.promotion_type=='prepare' && $prepare.nowtime > $prepare.begin_time_final && $prepare.nowtime < $prepare.end_time_final && $prepare.status=='true'
                        }>
                          <{$order.total_amount-$prepare.preparesell_price|cur:$order.currency}>
                        <{/if}>
</span></p>
<p>已付金额：<span class="am-text-danger"><{$order.payed|cur:$order.currency}></span></p>
<p>订单商品数量：<{$order.quantity}></p>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default"
/>
<p>收货信息：
<ul>
 <li>收货人：<{$order.consignee.name}></li>
 <li>地区：<{$order.consignee.area|ship_area}></li>
 <li>详细地址：<{$order.consignee.addr}></li>
 <{if $order.consignee.mobile}><li>手机:<{$order.consignee.mobile}></li><{/if}>
 <{if $order.consignee.telephone}><li>电话:<{$order.consignee.telephone}></li><{/if}>
 <{if $order.consignee.zip}><li>邮编：<{$order.consignee.zip}></li><{/if}>
 <li>配送时间：<{$order.consignee.r_time}></li>
</ul>
</p>
</div>  

<div class="am-panel-hd" style="background:#CCCCCC; border-top:1px solid #aaaaaa; width:100%">
<div>
您还可以：<a href="<{link app=b2c ctl=wap_member act=orderdetail arg0=$order.order_id}>">查看订单 <i class="am-icon-chevron-right"></i></a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="<{link app='wap' ctl='default' act='index' }>">继续购物 <i class="am-icon-chevron-right"></i></a>
</div>
</div>

<!--优惠券弹出层信息开始-->
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert01"  style=" text-align:left" >
  <div class="am-modal-dialog" style="font-size:14px;">
    <div class="am-modal-hd" style="text-align:center">修改支付方式
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div style="padding:10px;">
	
  <div class="am-list-news-bd paiing" id="zxps">
    <ul class="am-list">
     <div style="clear:both; width:100%; margin-top:10px; margin-left:10px;" class="am-btn-group doc-js-btn-1" data-am-button>
     <label style="margin-left:10px;" class="am-btn am-btn-default am-btn-sm paiing-span">
    	<input type="radio" name="options">支付宝
  	 </label>
  	 <label style="margin-left:10px;" class="am-btn am-btn-default am-btn-sm paiing-span">
    	<input type="radio" name="options">微信支付
  	 </label>
	  </div>
    </ul>
</div>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>  
  <button type="button" class="am-btn am-btn-primary am-btn-block am-btn-warning">确认充值</button>
   </div>	
  </div>
</div>
<!--优惠券弹出层信息结束-->


<script>

    (function(){
        var pay_change;
        $('#J_pay_change').bind('click',function(e){
            var data='shipping[shipping_id]=<{$order.shipping.shipping_id}>&payment[def_pay][pay_app_id]=<{$order.payinfo.pay_app_id}>&no_offline=<{$order.promotion_type}>';
            $.post('order-select_payment.html',data,function(re){
              pay_change = new Dialog(re);

                $('#J_pay_list').bind('click',function(e){
                    var el = $(e.target);
                    if(el.hasClass('paiing-span')) {
                      $('input[name="payment[def_pay][pay_app_id]"]').val( el.attr('payment_app_id') );
                      $('#J_defpay').text( el.attr('payment_app_name') );
                      $.post(
                        '<{link app=b2c ctl=wap_order act=payment_change}>',
                        'payment[pay_app_id]=' + encodeURIComponent( el.attr('value') )+ '&order_id=<{$order.order_id}>&payment[currency]=',
                        function(re){
                          location.reload();
                      });
                    }
                });

            });
        });
    })();

</script>
















