<!-- 会员中心主内容区 -->
<div class="page-article">
  <!-- 礼品卡充值 -->
  <div id="member_prepaid" class="member-prepaid">
  	<div class="member-tabs">
  	  <a href="<{link app=b2c ctl='site_member' act='deposit'}>" <{if $p_type == 'deposit'}> class ='active'<{/if}> ><em><{t}>预存款充值<{/t}></em></a>
      <a href="<{link app=b2c ctl='site_member' act='giftcard'}>" <{if $p_type == 'gitcard'}> class ='active'<{/if}> ><em><{t}>礼品卡充值<{/t}></em></a>
    </div>

    <div class="member-title">
      <div class="">&nbsp;<{t}>您当前的预存款余额为<{/t}>：<b class="price"><{$total|cur_odr}></b></div>
    </div>

    <div class="member-mod">
      <form action="<{link app=b2c ctl=site_member full=1 act=gc_dopayment}>" method="post">
        <!-- <input type="hidden" name="gitcard[member_id]" value="<{$member_id}>" /> -->
        <input type="hidden" name="giftcard[is_store]" value="0"/>
        <table>
          <col style="width:20%">
          <col style="width:80%">
          <tbody>
            <tr>
              <td><{t}>输入礼品卡号码<{/t}>：</td>
              <td><input type="text" name="giftcard[gcard_code]" id="" class="x-input" size="25" vtype="required" data-caution="礼品卡号不能为空"></td>
              
            </tr>
            <tr>
               <td>&nbsp;</td>
			   <td>
			   <label for="verifycode" class="form-label" style="text-align:left;width:100px;"><{t}>请输入验证码<{/t}>：</label>
			   <span class="form-act">
			       <{input type="vcode" class="verify-input" id="verifycode" name="verifycode" size="4" disabled=$disable key="GIFTCARDCODE" a_class="lnklike" img_class=""}>
			   </span>
			   </td>
            </tr>
            <tr>
				<td>&nbsp;</td>
				<td><button type="submit" class="btn btn-import btn-big" rel="_request"><span><span><{t}>去充值<{/t}></span></span></button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
