
<header data-am-widget="header" class="am-header am-header-default tt_bg">
<div class="am-header-left am-header-nav">
<a class="" href="#left-link">
<i class="am-header-icon am-icon-reply"></i>
</a>
</div>
  <h1 class="am-header-title">
    <a href="#title-link">品珍鲜活</a>
  </h1>
<div class="am-header-right am-header-nav">
<a class="" href="#right-link">
<i class="am-header-icon am-icon-home"></i>
</a>
</div>
</header>

<!-- Menu -->

<!--搜索开始-->
<div class="am-list-news am-list-news-default am-no-layout" data-am-widget="list_news">
<form action="" class="am-form am-form-inline">
  <div class="am-form-group am-form-icon">
    <i class="am-icon-search"></i>
    <input type="text" class="am-form-field" placeholder="搜索商品：请输入商品关键字">
  </div>  
</form>
</div>
<!--搜索结束-->
<div style=" color:#1d88a0; font-size:14px; text-indent:10px;">最热关键字：鲜果 龙虾 澳洲鲍鱼  阿拉斯加帝王蟹  </div>
<br>
<!-- List -->
<div data-am-widget="slider" class="am-slider am-slider-a4" data-am-slider='{}' id="my-slider">
  <ul class="am-slides">
  
  	<{foreach from=$pagetotal_arr item=pa key=key}>
    <li>
	    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview:flase }">
	    	
			<li>
			    <div class="am-gallery-item">
			      <a href="products.html">
			        <img src="<{$IMG_PZFRESH}>/public/app/b2c/statics/images/pro01.png">
			        <h3 class="am-gallery-title">新疆库尔勒香梨4个</h3>
			        <div class="am-gallery-desc" >
					 <h1 style="color:#FF0000;float:left">￥35.00</h1>
					 <a href="shopingcart.html" class="am-icon-btn am-icon-shopping-cart" style="float:right; color:#FF9900; height:30px; width:30px; background:none; border:1px solid #FF9900; line-height:30px; margin-top:5px;"></a></div>
			      </a>
			    </div>
			  </li>
			  <li>
			    <div class="am-gallery-item">
			      <a href="products.html">
			       <img src="<{$IMG_PZFRESH}>/public/app/b2c/statics/images/pro01.png">
			        <h3 class="am-gallery-title">新疆库尔勒香梨4个</h3>
			        <div class="am-gallery-desc" >
					<h1 style="color:#FF0000;float:left">￥35.00</h1>
					 <a href="shopingcart.html" class="am-icon-btn am-icon-shopping-cart" style="float:right; color:#FF9900; height:30px; width:30px; background:none; border:1px solid #FF9900; line-height:30px; margin-top:5px;"></a></div>
			      </a>
			    </div>
			  </li>
			  <li>
			    <div class="am-gallery-item">
			      <a href="products.html">
			        <img src="<{$IMG_PZFRESH}>/public/app/b2c/statics/images/pro01.png">
			        <h3 class="am-gallery-title">新疆库尔勒香梨4个</h3>
			        <div class="am-gallery-desc" >
					<h1 style="color:#FF0000;float:left">￥35.00</h1>
					<a href="shopingcart.html" class="am-icon-btn am-icon-shopping-cart" style="float:right; color:#FF9900; height:30px; width:30px; background:none; border:1px solid #FF9900; line-height:30px; margin-top:5px;"></a></div>
			      </a>
			    </div>
			  </li>
			  <li>
			    <div class="am-gallery-item">
			      <a href="products.html">
			        <img src="<{$IMG_PZFRESH}>/public/app/b2c/statics/images/pro02.png">        
					<h3 class="am-gallery-title">新疆库尔勒香梨4个</h3>
			        <div class="am-gallery-desc" >
					<h1 style="color:#FF0000;float:left">￥35.00</h1>
					<a href="shopingcart.html" class="am-icon-btn am-icon-shopping-cart" style="float:right; color:#FF9900; height:30px; width:30px; background:none; border:1px solid #FF9900; line-height:30px; margin-top:5px;"></a></div>
			      </a>
			    </div>
			  </li>
			    <li>
			    <div class="am-gallery-item">
			      <a href="products.html">
			        <img src="<{$IMG_PZFRESH}>/public/app/b2c/statics/images/pro02.png">
			        <h3 class="am-gallery-title">新疆库尔勒香梨4个</h3>
			        <div class="am-gallery-desc" >
					<h1 style="color:#FF0000;float:left">￥35.00</h1>
					<a href="#" class="am-icon-btn am-icon-shopping-cart" style="float:right; color:#FF9900; height:30px; width:30px; background:none; border:1px solid #FF9900; line-height:30px; margin-top:5px;"></a></div>
			      </a>
			    </div>
			  </li>
			  <li>
			    <div class="am-gallery-item">
			      <a href="products.html">
			        <img src="<{$IMG_PZFRESH}>/public/app/b2c/statics/images/pro01.png">
			        <h3 class="am-gallery-title">新疆库尔勒香梨4个</h3>
			        <div class="am-gallery-desc" >
					<h1 style="color:#FF0000;float:left">￥35.00</h1>
					<a href="#" class="am-icon-btn am-icon-shopping-cart" style="float:right; color:#FF9900; height:30px; width:30px; background:none; border:1px solid #FF9900; line-height:30px; margin-top:5px;"></a></div>
			      </a>
			    </div>
			  </li>
			
			
		</ul>
    </li>
	<{/foreach}>
	
  </ul>
</div>

<!-- Gallery -->


<div id="CuPlayer"><div id="js_play" style="cursor:pointer;">
 <iframe id="js_ifr" scrolling="no" marginwidth="0" allowtransparency="allowtransparency" src="" marginheight="0" style="width: 270px; height: 150px; display:none" frameborder="0"></iframe></div>
</div>
<script>
$("#js_play").click(function(){
$(this).hide();
$("#js_ifr").fadeIn('fast').attr("src","http://player.youku.com/player.php/sid/XOTEzNzU3MjE2/v.swf");
});
</script>
<!-- Footer -->
<div id="am-footer-mode" class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
  <div class="am-modal-dialog">
    <div class="am-modal-hd am-modal-footer-hd">
      <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin"
         data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">您正在浏览的是
      <span class="am-switch-mode-owner">云适配</span>
      <span class="am-switch-mode-slogan">为您当前手机订制的移动网站。</span>
    </div>
  </div>
</div>

<div class="amz-toolbar " style="right:2%; bottom:10%; position:fixed">
<a class="am-icon-shopping-cart am-icon-btn am-icon-question-circle" title="购物车" href="#"></a>
</div>
<div class="return_div" style="display:none;"><label><i id="cur_page">1</i>/<i id="page_total"></i></label></div>
<!-- Navbar -->
<script>
$(function (){
	$('#my-slider').flexslider({
		slideshow: false,  
		touch: true,
		controlNav: true,
		
		start: function(){
			console.log('start');
			get_next_page();
			
		},
		before: function(){
			get_next_page();
		},

  });
  
  
  function get_next_page(){
  	var roll_list = $(".am-slides").children("li");
	
//	console.log(roll_list);
	
	//获取当前页
	var cur_page = 1;
	for (var i=0; i<roll_list.length; i++){
//		console.log(roll_list[i]);
//		console.log(i);
//		console.log(roll_list[i].className);
		if(roll_list[i].className === 'am-active-slide'){
			console.log(i);
			cur_page = i;
			break;
		}
	}
//	console.log(cur_page);

	
	page = cur_page
	
  	var url = '<{link app=b2c ctl=wap_gallery act=gallery_scroll_goods}>';
//  	var page = 1;
  	var pagetotal = 2;
  	var total = 0;
//  	var sear = location.search ? location.search.substr(1) : '';
//  	var form_data = $('#j_form').length ? $('#j_form').serialize() : '';
	var sear = '';
	var form_data = '';
	
  	var params = ['showtype=all', 'page=' + page, sear, form_data].filter(function(d){
  		return d;
  	}).join('&');
	
	console.log(params);
	
	
	
//		$.get(url, params, function(data){
//			if (data && data.html) {
//				$('.img_list').append(data.html);
//				$('#page_total').text(data.total);
//				total = data.total;
//				pagetotal = data.pagetotal;
//				hid_load();
//				var img = $('.img_list img:first');
//				img.attr('src', img.attr('img'));
//				img.attr('img', '');
//				$('.img_list li').scrollspy().on('inview:scrollspy:amui', _load_img);
//				if (total > 0) {
//					$('.scrollspy').scrollspy().on('inview:scrollspy:amui', function(){
//						$(".return_div").show();
//					});
//				}
//			}
//		}, 'json');
  }	
	
	  function show_load(){
        $('#loading2').show();
        $('#b-bg').show();
       }

    function hid_load(){
        $('#loading2').hide();
        $('#b-bg').hide();
    }

});

	
</script>

<script>
(function(){
    
})();
</script>
