<link href="/public/app/wap/statics/css_mini/themes2015.css" rel="stylesheet" media="screen, projection" />

<header data-am-widget="header" class="am-header am-header-default tt_bg">
	<div class="am-header-left am-header-nav">
		<a class="" href="javascript:history.go(-1);"><i class="am-header-icon am-icon-reply"></i></a>
	</div>
	<h1 class="am-header-title">
		<a href="#title-link">品珍鲜活</a>
	</h1>
	<div class="am-header-right am-header-nav">
		<a class="" href="simplesearch.html"><i class="am-header-icon am-icon-search"></i></a>
	</div>
</header>
<!-- Menu -->
	
<!-- sort -->
<div class="gallery-sort" id="gallery-sort">
	<div class="item item1" sortid="1">
		销量
		<div class="sort-ico">
			<i class="am-header-icon am-icon-chevron-up"></i>
			<i class="am-header-icon am-icon-chevron-down"></i>
		</div>
	</div>
	<div class="item item2" sortid="2">
		价格
		<div class="sort-ico">
			<i class="am-header-icon am-icon-chevron-up"></i>
			<i class="am-header-icon am-icon-chevron-down"></i>
		</div>
	</div>
	<div class="item item3" sortid="3">
		评价
		<div class="sort-ico">
			<i class="am-header-icon am-icon-chevron-up"></i>
			<i class="am-header-icon am-icon-chevron-down"></i>
		</div>
	</div>
	
	<div class="item item4" sortid="4">
		上架
		<div class="sort-ico">
			<i class="am-header-icon am-icon-chevron-up"></i>
			<i class="am-header-icon am-icon-chevron-down"></i>
		</div>
	</div>
	<div class="fc"></div>
</div>           
<!-- sort -->
	
<div class="gallery" id="gallery">
	<!-- List -->
	<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}' id="my-slider">
		  <ul class="am-slides">
			<{foreach from=$pagetotal_arr item=pa key=key}>
			<li>
				<div class="glist goodslist">
					<div class="roll_loding" style="text-align:center"><i class="am-icon-spinner am-icon-spin am-icon-lg"></i></div>
				</div>
			</li>
			<{/foreach}>
		  </ul>
	</div>

	<div class="return_div"><label><i class="show_cur_page" id="show_cur_page">1</i>/<i id="page_total"><{$pagetotal}></i></label></div>
	
	<div class="page-rscount">
		共<span class="am-text-danger"><{ $total ? $total : 0}></span>个商品
	</div>
</div>
<!-- /gallery -->
<div id="modalAddToCart" class="am-modal am-modal-alert" tabindex="-1">
	  <div class="am-modal-dialog">
	    <div class="am-modal-bd">
	    </div>
	    <div class="am-modal-footer">
	    	<span class="am-modal-btn" data-am-modal-confirm >进入购物车</span>
	      	<span class="am-modal-btn" data-am-modal-cancel >继续购物</span>
	    </div>
	  </div>
</div>

<div id="CuPlayer"><div id="js_play" style="cursor:pointer;">
 <iframe id="js_ifr" scrolling="no" marginwidth="0" allowtransparency="allowtransparency" src="" marginheight="0" style="width: 270px; height: 150px; display:none" frameborder="0"></iframe></div>
</div>
<script>
$("#js_play").click(function () {
	$(this).hide();
	$("#js_ifr").fadeIn('fast').attr("src", "http://player.youku.com/player.php/sid/XOTEzNzU3MjE2/v.swf");
});
</script>
<!-- Footer -->
<div id="am-footer-mode" class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
  <div class="am-modal-dialog">
    <div class="am-modal-hd am-modal-footer-hd">
      <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin"
         data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">您正在浏览的是
      <span class="am-switch-mode-owner">云适配</span>
      <span class="am-switch-mode-slogan">为您当前手机订制的移动网站。</span>
    </div>
  </div>
</div>


<{wap_require file="block/footer_bar.html"}>

<!--
<div class="amz-toolbar " style="right:2%; bottom:10%; position:fixed">
<a class="am-icon-shopping-cart am-icon-btn am-icon-question-circle" title="购物车" href="<{link app=b2c ctl=wap_cart}>">
	<span id="show_cart_pot" style=" height:10px; width:10px; border-radius:10px; background:#FF9900; color:#FFFFFF; text-align:center; line-height:10px; position:absolute; top:10px; right:5px; <{if !$cartCount}> display:none; <{/if}>"></span>
</a>
</div>
-->

<!-- Navbar -->
<script type="text/javascript">
var par_page		= 1;
var par_cat_id 		= '<{$cat_id}>';
var par_scontent 	= '<{$scontent}>';
var par_sortid		= '4';		//1=销量,2=价格,3=评价,4=上架
var par_sortby		= '2';		//1=asc,2=desc
/*
	item selected
	item selected sort-desc
*/

$(function (){
	var $gallery = $('#gallery'),
		$gallerysort = $('#gallery-sort');
	
	//排序初始化
	var $itemsort  = $gallerysort.find('.item'+par_sortid);
	if($itemsort.size()){
		$itemsort.addClass('selected');
		if(par_sortby == '2'){
			$itemsort.addClass('sort-desc');
		};
	};
	
	
	//排序按钮
	$gallerysort.find('.item').on('click', function(){
		var $item 	= $(this);
		par_sortid 	= $item.attr('sortid');

		if($item.find('.selected')){
			par_sortby = (par_sortby=='2')?'1':'2';
		}else{
			par_sortby = '2';
		};
		
		$gallerysort.find('.selected').removeClass('selected').removeClass('sort-desc');
		
		$item.addClass('selected');
		if(par_sortby == '2'){
			$item.addClass('sort-desc');
		};
		
		$gallery.find('.glist').attr('loaded', '0').html('<div class="roll_loding" style="text-align:center"><i class="am-icon-spinner am-icon-spin am-icon-lg"></i></div>');
		get_next_page();
	});

	$('#my-slider').flexslider({
		slideshow : false,
		touch : true,
		controlNav : false,
		directionNav : true,

		start : function (slider) {
			//console.log('before');
			par_page = slider.currentSlide + 1;
			get_next_page();

		},
		after : function (slider) {
			//console.log('after');
			par_page = slider.currentSlide + 1;
			get_next_page();
		}
	});
  

	function get_next_page() {
		var roll_list = $(".am-slides").children("li");

		$("#show_cur_page").html(par_page);
		
		var url = '<{link app=b2c ctl=wap_gallery act=gallery_scroll_goods}>';
		
		//商品分类搜索
		var cat_id = 'cat_id=' + (par_cat_id == '' ? 0 : par_cat_id);
		
		//商品关键字搜索
		var scontent = 'scontent=' + par_scontent;
		
		//商品排序
		var sortid = 'sortid=' + par_sortid,
		sortby = 'sortby=' + par_sortby;
		
		var params = ['showtype=all', 'page=' + par_page, cat_id, scontent, sortid, sortby].join('&');

		$.get(url, params, function (rs) {
			if (rs) {
				var $obj = $gallery.find('.glist').eq(rs.page);

				//没有加载过的才加载
				if ($obj.attr('loaded') != '1') {
					$obj.attr('loaded', '1');
					$obj.html(rs.html);
				};
			};

		}, 'json');
	};
});

function btnAddToCart_onclick(the){
	//弹出等待框
	$('#cart-modal-loading').modal();
	
	var obj = $(the).closest('.item').find('.formBuyNow');

	$.ajax({
		url:'/wap/cart-add-goods.html',
		data:obj.serialize()+'&mini_cart=1',
		method:'POST',
		dataType:'json',
		success:function(data){
			
			//隐藏等待框
			$('.am-modal-loading').modal('close');
			
			if(data.success){
				var cart_num ='';
				cart_num = data.success.cart_num;
				$('#wap-footer-bar-cart-num').show();
				$('#wap-footer-bar-cart-num').html(cart_num);
				$('#modalAddToCart').find('.am-modal-bd').html('加入购物车成功');
				$('#modalAddToCart').modal({
					relatedTarget: this,
						//进入购物车
					  onConfirm: function(e) {
						 window.location.href='/wap/cart.html';
					  },
						//继续购物
					  onCancel: function(e) {
						return false;
					  }
					
				});
			}
			else{
				$('#modalAddToCart').find('.am-modal-bd').html('加入购物车失败');
				$('#modalAddToCart').modal({
					relatedTarget: this,
						//进入购物车
					  onConfirm: function(e) {
						 window.location.href='/wap/cart.html';
					  },
						//继续购物
					  onCancel: function(e) {
						return false;
					  }
					
				});
			}

		}
	});
};


</script>


