<link rel="stylesheet" href="/public/app/wap/statics/css_mini/themes2015.css" />
<header data-am-widget="header" class="am-header am-header-default tt_bg">
	<div class="am-header-left am-header-nav">
		<a class="" href="javascript:history.go(-1);"><i class="am-header-icon am-icon-reply"></i></a>
	</div>
	  <h1 class="am-header-title">
		<a href="#title-link">品珍鲜活</a>
	  </h1>
	<div class="am-header-right am-header-nav">
		<a class="" href="simplesearch.html"><i class="am-header-icon am-icon-search"></i></a>
	</div>
</header>

<!-- Menu -->

<!--搜索开始-->
<div class="tags-top">
	HOT:
	<{foreach from=$keywords item=k}>
		<a href="<{$k.url}>"><{$k.name}></a>
	<{/foreach}>
</div>
<!--搜索结束-->

<!-- List -->
<div data-am-widget="slider" class="am-slider am-slider-a4" data-am-slider='{}'>
	<{if $goodsData}>
   <ul class="am-slides hotlist">
	
	<{foreach from=$goodsData key=k item=goods2 name="goods2"}>
				    <div class="am-gallery-item item <{if !$goods2.is_can_store }>itemEnd<{/if}>">
						<div class="itemHot">
							<div class="itemHotBg"></div>
							<div class="itemRank"> <{$smarty.foreach.goods2.iteration}></div>
							<div class="itemSales">销量：<{$goods2.wap_hot_num}>份</div>
						</div>

						<div class="pic">
							<a href="<{link app=b2c ctl=wap_product arg0=$goods2.products.product_id}>">
								<img src="<{$goods2.wx_image_id|storager:'l'}>">
								<div class="itemEndBox">
									<div class="itemEndBg"></div>
									<div class="itemEndTxt">售罄</div>
								</div>
							</a>
						</div>
						<div class="desc">
							<div class="tit"><{$goods2.name|cut:'90'}></div>
							<div class="txt">
								<span class="newPrice"><{$goods2.products.price|cur_odr}></span>
								<span class="oldPrice"><{$goods2.products.mktprice|cur_odr}></span>
							</div>
							<{if $goods2.products.store >0 or $goods2.nostore_sell == 1 }>
								<a href="javascript:void(0);" class="am-icon-btn am-icon-shopping-cart btnAddToCart"></a>
							<{else}>
								<a href="javascript:void(0);" class="am-icon-btn am-icon-shopping-cart btnAddToCart" style="display:block"></a>
							<{/if}>
							
							<form style="display:none" class="formaddcart">
								<input id="goodsId" type="text" name="goods[goods_id]" value="<{$goods2.goods_id}>" />
								<input id="productId" type="text" name="goods[product_id]" value="<{$goods2.products.product_id}>" />
								<input id="goodsNum" type="text" name="goods[num]" value="1" />
								<input id="stock" type="text" name="stock" value="" />
								<input id="limit_nums" type="text" name="limit_nums" value="" />
								<input type="text" name="response_json" value="1" />
							</form>
						</div>
				    </div>
	<{/foreach}>
	</ul>
	<{else}>
	<div style="text-align:center">亲，没有更多喔！</div>
	<{/if}>
</div>

<!-- Gallery -->


<div id="CuPlayer"><div id="js_play" style="cursor:pointer;">
 <iframe id="js_ifr" scrolling="no" marginwidth="0" allowtransparency="allowtransparency" src="" marginheight="0" style="width: 270px; height: 150px; display:none" frameborder="0"></iframe></div>
</div>
<script>
$("#js_play").click(function(){
$(this).hide();
$("#js_ifr").fadeIn('fast').attr("src","http://player.youku.com/player.php/sid/XOTEzNzU3MjE2/v.swf");
});
</script>
<!-- Footer -->
<div id="am-footer-mode" class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
  <div class="am-modal-dialog">
    <div class="am-modal-hd am-modal-footer-hd">
      <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin"
         data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">您正在浏览的是
      <span class="am-switch-mode-owner">云适配</span>
      <span class="am-switch-mode-slogan">为您当前手机订制的移动网站。</span>
    </div>
  </div>
</div>


<{wap_require file="block/footer_bar.html"}>
<!--
<div class="amz-toolbar " style="right:2%; bottom:10%; position:fixed">
<a class="am-icon-shopping-cart am-icon-btn am-icon-question-circle" title="购物车" href="<{link app=b2c ctl=wap_cart}>">
	<span id="show_cart_pot" style=" height:10px; width:10px; border-radius:10px; background:#FF9900; color:#FFFFFF; text-align:center; line-height:10px; position:absolute; top:10px; right:5px; <{if !$cartCount}> display:none; <{/if}>"></span>
</a>
</div>
-->
<!-- Navbar -->

