<div class="full-screen">
    <header>
    <div class="a-bar">
        <a href="javascript:history.back()" class="a-back">
            <i class="arr left"></i>
            返回
        </a>
        <div class="a-name"><{$title}></div>
        <div style="width: 10%;"></div>
    </div>
    </header>
    <div class="coupons">
        <{if count($coupons)>0}>
        <{foreach from=$coupons item=item}>
        <div class="gb">
            <span class="icon <{if $item.memc_isvalid eq true}>orange<{else}>gray<{/if}>"><{$item.memc_status}></span>
            <span style="margin-top:10px;">优惠券名称：<{$item.coupons_info.cpns_name}></span>
            <span style="margin-top:10px;">优惠券号码：<{$item.memc_code}></span>
            <span style="margin-top:10px;">使用条件：<{$item.time.description}></span>
            <span style="margin-top:10px;">有效期：<{$item.time.from_time|cdate:SDATE_STIME}>到<{$item.time.to_time|cdate:SDATE_STIME}></span>
        </div>
        <{/foreach}>
        <{else}>
          尚无任何优惠券
        <{/if}>
    </div>
</div>
