<{include file='wap/member/header.html' title='充值券充值' goback='/wap/member.html'}>
<div style="width:100%; text-align:center; padding:20px 0; font-size:18px"><h4>现存余额：<span class="am-text-danger" ><{$total|cur_odr}></span>元</h4></div>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
<form>
<div style=" padding:10px;">
  <div class="am-form-group">
    <label for="doc-ipt-3" class="col-sm-2 am-form-label">充值券号码：</label>
    <div class="col-sm-10">
      <input type="text" name="giftcard[gcard_code]" class="am-form-field" required="required" min="1" id='deposit'>
    </div>
  </div>
  
  <label for="doc-ipt-3" class="col-sm-2 am-form-label">验证码:</label>
  <div style="clear:both; width:100%; margin-top:10px; margin-left:0px;">
		 <{input type="vcode" name="verifycode" class="am-form-field verify-input am-margin-bottom-xs"  placeholder="请输入验证码" key='b2c_wap_gc' label='换一张'}>
	  </div>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>  
  <button type="button" id="ajax-do-payment" class="am-btn am-btn-primary am-btn-block am-btn-warning">确认充值</button>
</div> 
</form>
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert-signup">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">错误</div>
    <div class="am-modal-bd">
      
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>
<script>
$(document)
.ready(
		function() {
$("#ajax-do-payment")
.bind(
		"click",
		function() {

			$
					.ajax({
						url : '<{link app="b2c" ctl="wap_member" act="gc_dopayment" arg0="giftcard"}>',

						type : 'POST',

						data : {
							"giftcard[gcard_code]" : $(
									'#deposit')
									.val(),
							"verifycode":$("input[name='verifycode']").val()
							
						},

						dataType : 'html',

						timeout : 3000,

						error : function() {
							js_alert('js-alert','请求失败');
							//alert('请求失败');
						},

						success : function(
								result) {
							jsonobj = eval('('
									+ result
									+ ')');
							if (jsonobj.success) {
								location.href = jsonobj.redirect;
							} else {
								js_alert('js-alert',jsonobj.error);
								
							}
						}

					});
		});
		});
</script>