<header data-am-widget="header" class="am-header am-header-default tt_bg">
<div class="am-header-left am-header-nav">
  <a href="/wap/member.html" class="">
      <i class="am-header-icon am-icon-reply"></i>
    </a>
	</div>
  <h1 class="am-header-title">
   <{$title}>
  </h1>
  <div class="am-header-right am-header-nav">
    <a href="search.html" class="">
      <i class="am-header-icon am-icon-search"></i>
    </a>
   <a href="/wap/" class="">
      <i class="am-header-icon am-icon-home"></i>
    </a>
	</div>
</header>