
<{include file='wap/member/header.html' title='设置登录账号' goback='/wap/member.html'}>


<hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>

<div class="full-screen">
  <div class="full-padding">
    <form action="<{link app=b2c ctl='wap_member' full='1' act='bind_member'}>" method="post" class="form" data-type="ajax">
    <div class="c-g">
    <label  style="width: 100px;">
    <select name="bind_type" id="bind_type">   
        <option value="mobile" selected="selected" data-coupon="">手机号</option>
        <option value="email" data-coupon="">邮箱</option>
        <option value="account" data-coupon="">账号</option> 
        <option value="card" data-coupon="">会员卡</option>  
    </select>
    </label>

    <div class="c" id="account_div_mobile" >
          <input type="text" name="login_account_mobile" id="login_account_mobile" class="text a-account" style="width: 60%;"   placeholder="手机号" pattern="(^[0-9]{3,4}\-[0-9]{7}$)|(^[0-9]{7}$)|(^[0-9]{3,4}[0-9]{7}$)|(^0{0,1}13[0-9]{9}$)" autofocus title="手机号不正确">
          <a href="<{link app=b2c ctl=wap_passport act=send_vcode_sms}>"  class="am-btn am-btn-warning  btn-send orange ib-btn btn-sms">
          获取验证码
          </a>
    </div>

    <div class="c" id="account_div_email"  style="display: none;">
          <input type="text" name="login_account_email" id="login_account_email" class="text a-account" style="width: 60%;"   placeholder="邮箱帐号" pattern="^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$" autofocus title="邮箱不正确">
          <a href="<{link app=b2c ctl=wap_passport act=send_vcode_email}>" class="am-btn am-btn-warning  btn btn-send orange ib-btn btn-email">
          获取邮件验证码
          </a>
    </div>

     <div class="c" id="account_div_account" style="display: none;" >
          <input type="text" name="login_account_account" id="login_account_account" class="text a-account" style="width: 60%;"   placeholder="商城帐号"  autofocus title="商城帐号不正确">
    </div>

     <div class="c" id="account_div_card" style="display: none;">
          <input type="text" name="login_account_card" id="login_account_card" class="text a-account" style="width: 60%;"   placeholder="会员卡帐号"  autofocus title="会员卡帐号不正确">
    </div>

    <div style="clear:both;"></div>
    </div>
	
	<div id="mobile_input" > 
	        <div class="c-g" >
	            <label for="" class="c-l">
	                <em class="f-red">*</em>短信验证：
	            </label>
	            <div class="c">
	                <input type="text" name="vcode_mobile" maxlength="20" style="width: 60%;" placeholder="短信验证码"   pattern=".{6,20}" class="text" data-caution="短信验证码不能为空">
	            </div>
	        </div>
	      <div class="notice"></div>

	      <div class="c-g" style="min-height:55px;display:none;" id="radio_mobile" >
	        <label for="" class="c-l" style="width: 100px;">
	          <em class="f-red">*</em>保留数据：
	        </label>
	        <div class="c" >
	          <input type="radio" name="from_to_mobile"   value="old_to_weixin" checked="checked" class="text" style="width:10%">当前帐户<br/>
	          <input type="radio" name="from_to_mobile"   value="weixin_to_old" class="text" style="width:10%">手机账户
	        </div>
	      </div>

	      <div class="c-g" style="display:none;" id="new_password_mobile">
	        <label for="" class="c-l" style="width: 100px;">
	          <em class="f-red">*</em>原账号密码：
	        </label>
	        <div class="c">
	          <input type="password" name="login_password_mobile" maxlength="20" placeholder="6-20位数字/字母组合"   pattern=".{6,20}" class="text" style="width: 60%;" data-caution="密码不能为空">
	        </div>
	      </div>
	      <div class="c-g">
	        <label for="" class="c-l" style="width: 200px;">
	          <em class="f-red">*</em>绑定后密码：
	        </label>
	        <div class="c">
	          <input type="password" name="new_password_mobile" maxlength="20" placeholder="6-20位数字/字母组合"   pattern=".{6,20}" class="text" style="width: 60%;" data-caution="密码不能为空">
	        </div>
	      </div>
	      <div style="font-size:0.7em; color:red; width:75%; margin:0 auto;margin-bottom:5px;display:none;" id="tips_txt_mobile">此帐户已注册，设置帐户时会丢失其中一方帐户订单，请选择保留数据的帐户</div>
      </div>


	
	 <div id="email_input" style="display: none;">
	        <div class="c-g">
	            <label for="" class="c-l">
	                <em class="f-red">*</em>邮箱验证：
	            </label>
	            <div class="c">
	                <input type="text" name="vcode_email" maxlength="20" placeholder="邮箱验证码"   pattern=".{6,20}" class="text" data-caution="邮箱验证码不能为空">
	            </div>
	        </div>
	      <div class="notice"></div>

	      <div class="c-g" style="min-height:55px;display:none;" id="radio_email" >
	        <label for="" class="c-l" style="width: 100px;">
	          <em class="f-red">*</em>保留数据：
	        </label>
	        <div class="c" >
	          <input type="radio" name="from_to_email"   value="old_to_weixin" checked="checked"  class="text" style="width:10%">当前帐户<br/>
	          <input type="radio" name="from_to_email"   value="weixin_to_old" class="text" style="width:10%">邮箱账户
	        </div>
	      </div>

	      <div class="c-g" style="display:none;" id="new_password_email">
	        <label for="" class="c-l" style="width: 100px;">
	          <em class="f-red">*</em>原账号密码：
	        </label>
	        <div class="c">
	          <input type="password" name="login_password_email" maxlength="20" placeholder="6-20位数字/字母组合"   pattern=".{6,20}" class="text" style="width: 60%;" data-caution="密码不能为空">
	        </div>
	      </div>
	      
	      <div class="c-g">
	        <label for="" class="c-l" style="width: 200px;">
	          <em class="f-red">*</em>绑定后密码：
	        </label>
	        <div class="c">
	          <input type="password" name="new_password_email" maxlength="20" placeholder="6-20位数字/字母组合"   pattern=".{6,20}" class="text" style="width: 60%;" data-caution="密码不能为空">
	        </div>
	      </div>

	      <div style="font-size:0.7em; color:red; width:75%; margin:0 auto;margin-bottom:5px;display:none;" id="tips_txt_email">此帐户已注册，设置帐户时会丢失其中一方帐户订单，请选择保留数据的帐户</div>
     </div>
	

	<div id="account_input"  style="display: none;">
	
		<div class="c-g" style="min-height:55px;" id="radio_account" >
	        <label for="" class="c-l" style="width: 100px;float:left;">
	          <em class="f-red">*</em>保留数据：
	        </label>
	        <div class="c" style="float:left;">
	          <input type="radio" name="from_to_account"   value="old_to_weixin" checked="checked"  class="text" style="width:20px">当前帐户<br/>
	          <input type="radio" name="from_to_account"   value="weixin_to_old" class="text" style="width:20px">PC帐户
	        </div>
	      </div>
	
		        <div class="c-g">
		        <label for="" class="c-l" style="width: 200px;">
		          <em class="f-red">*</em>原账号密码：
		        </label>
		        <div class="c">
		          <input type="password" name="login_password_account" maxlength="20" placeholder="6-20位数字/字母组合"   pattern=".{6,20}" class="text" style="width: 60%;" data-caution="密码不能为空">
		        </div>
		      </div>
		      <div class="c-g">
		        <label for="" class="c-l" style="width: 200px;">
		          <em class="f-red">*</em>绑定后密码：
		        </label>
		        <div class="c">
		          <input type="password" name="new_password_account" maxlength="20" placeholder="6-20位数字/字母组合"   pattern=".{6,20}" class="text" style="width: 60%;" data-caution="密码不能为空">
		        </div>
		      </div>
		   <div style="font-size:0.7em; color:red; width:75%; margin:0 auto;margin-bottom:5px;">设置帐户时会丢失其中一方帐户订单，请选择保留数据的帐户</div>
	</div>
			
	<div id="card_input"  style="display: none;">
		<div class="c-g" style="min-height:55px;" id="radio_card" >
	        <label for="" class="c-l" style="width: 100px;float:left;">
	          <em class="f-red">*</em>保留数据：
	        </label>
	        <div class="c" style="float:left;">
	          <input type="radio" name="from_to_card"   value="old_to_weixin" checked="checked" class="text" style="width:20px">当前帐户<br/>
	          <input type="radio" name="from_to_card"   value="weixin_to_old" class="text" style="width:20px">会员卡帐户
	        </div>
	      </div>
		        <div class="c-g">
		        <label for="" class="c-l" style="width: 200px;">
		          <em class="f-red">*</em>会员卡密码：
		        </label>
		        <div class="c">
		          <input type="password" name="login_password_card" maxlength="20" placeholder="6-20位数字/字母组合"  pattern=".{6,20}" class="text" style="width: 60%;" data-caution="密码不能为空">
		        </div>
		      </div>
		      <div class="c-g">
		        <label for="" class="c-l" style="width: 200px;">
		          <em class="f-red">*</em>绑定后密码：
		        </label>
		        <div class="c">
		          <input type="password" name="new_password_card" maxlength="20" placeholder="6-20位数字/字母组合"  pattern=".{6,20}" class="text" style="width: 60%;" data-caution="密码不能为空">
		        </div>
		      </div>
		      <div style="font-size:0.7em; color:red; width:75%; margin:0 auto;margin-bottom:5px;">设置帐户时会丢失失其中一方帐户订单，请选择保留数据的帐户</div>
     </div>
	 <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
      <div class="am-modal-footer">
        <button type="submit" class="am-btn am-btn-primary am-btn-block am-btn-warning">提交</button>
      </div>
    </form>
  </div>
</div>




<script>

	//sms 发送
    $('.form .btn-sms').click(function (e) {
        e.preventDefault();
        var el = $(this).siblings('.a-account');
        if($(this).hasClass('disabled')) return false;
        sendVerify(this, 'uname=' + el.val() + '&type=signup');
    });

    function sendVerify(el, data) {
		
        var url = el.href;
        $(el).addClass('disabled');
        var cd = new countdown(el, {
            start: 120,
            secondOnly: true,
            callback: function(e) {
                $(el).removeClass('disabled').html('重发验证码');
            }
        });
        $.post(url, data, function(rs) {
            if(rs) {
                try{
                    rs = $.parseJSON(rs);
                } catch (e) {}
                if(rs.error) {
                    $(el).removeClass('disabled').html('重发验证码');
                    clearTimeout(cd.timer);
                    if(typeof rs.error === 'string') js_alert('js-alert',rs.error);
                }
            }
        });
    }


    //email 发送
    $('.form .btn-email').click(function (e) {
        e.preventDefault();
        var el = $(this).siblings('.a-account');
        console.log(el.val());
       if($(this).hasClass('disabled')) return false;
        sendemailVerify(this, 'uname=' + el.val() + '&type=reset');
    });

    function sendemailVerify(el, data){
    	var url = el.href;
        $(el).addClass('disabled');

        $.post(url, data, function(rs) {
            if(rs) {
                try{
                    rs = $.parseJSON(rs);
                } catch (e) {}
                if(rs.error) {
                    $(el).removeClass('disabled').html('重发邮件验证码');
                    if(typeof rs.error === 'string') js_alert('js-alert',rs.error);
                }
            }
        });
    }

    //检测手机是否使用
    $('input[name=login_account_mobile]').change(function(e){
    	uname = $(this).val();
    	url = '<{link app=b2c ctl=wap_passport act=bind_ajax_check_name}>';
    	$.post(url, 'login_account='+uname, function(rs) {
    		console.log(rs);
            if(rs) {
                try{
                    rs = $.parseJSON(rs);
                } catch (e) {}
                if(rs.success){
                	$('.form .btn-sms').show();
                	$('input[name=vcode_mobile]').parents('.c-g').show();
                	$('#radio_mobile').hide();
                	$('#new_password_mobile').hide();
                	$('#tips_txt_mobile').hide();
                }
                if(rs.error) {
  					$('.form .btn-sms').hide();
                	$('input[name=vcode_mobile]').parents('.c-g').hide();
                	$('#radio_mobile').show();
                	$('#new_password_mobile').show();
                	$('#tips_txt_mobile').show();
                	
                }
            }
        });
    })


    //检测邮箱是否使用
    $('input[name=login_account_email]').change(function(e){
    	uname = $(this).val();
    	url = '<{link app=b2c ctl=wap_passport act=bind_ajax_check_name}>';
    	$.post(url, 'login_account='+uname, function(rs) {
    		console.log(rs);
            if(rs) {
                try{
                    rs = $.parseJSON(rs);
                } catch (e) {}
                if(rs.success){
                	$('.form .btn-email').show();
                	$('input[name=vcode_email]').parents('.c-g').show();
                	$('#radio_email').hide();
                	$('#new_password_email').hide();
                	$('#tips_txt_email').hide();
                }
                if(rs.error) {
  					$('.form .btn-email').hide();
                	$('input[name=vcode_email]').parents('.c-g').hide();
                	$('#radio_email').show();
                	$('#new_password_email').show();
                	$('#tips_txt_email').show();
                }
            }
        });
    })



    $('#bind_type').change(function(e){
    	var bind_type = $("#bind_type option:selected").val();
    	
    	$("input[type=text]").val('');

    	$('#account_div_mobile').hide();
    	$('#account_div_email').hide();
    	$('#account_div_account').hide();
    	$('#account_div_card').hide();

    	$('#account_div_'+bind_type).show();

    	$('#mobile_input').hide();
    	$('#email_input').hide();
    	$('#account_input').hide();
    	$('#card_input').hide();

    	$('#'+bind_type+'_input').show();

    })



</script>