<header data-am-widget="header" class="am-header am-header-default tt_bg">
<div class="am-header-left am-header-nav">
  <a href="products.html" class="">
      <i class="am-header-icon am-icon-reply"></i>
    </a>
	</div>
  <h1 class="am-header-title">
   未评论商品
  </h1>
  <div class="am-header-right am-header-nav">
    <a href="search.html" class="">
      <i class="am-header-icon am-icon-search"></i>
    </a>
   <a href="index2.html" class="">
      <i class="am-header-icon am-icon-home"></i>
    </a>
	</div>
</header>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>


<div id="member_nocomment">
    <{if $list && $goods}>
    <table class="mem-comment-list am-table am-table-bd am-table-bdrs am-table-striped am-table-hover" width="100%">
      <thead>
        <tr>
          <th colspan="2"><{t}>商品<{/t}></th>
          <th><{t}>购买时间<{/t}></th>
          <th style="min-width:50px;"><{t}>操作<{/t}></th>
        </tr>
      </thead>
      <tbody>
      <{foreach from=$list item=item name=name}>
      <{if $goods.[$item.goods_id]}>
        <tr <{if $smarty.foreach.name.iteration == '1'}>class="first"<{/if}>>
          <td class="goods-pic">
            <a href="<{link app=b2c ctl=wap_product arg0=$item.product_id}>">
              <img src="<{$goods.[$item.goods_id].image_default_id|storager:'s'}>" alt="<{$goods.[$item.goods_id].name}>">
            </a>
          </td>
          <td class="goods-name">
            <a href="<{link app=b2c ctl=wap_product arg0=$item.product_id}>"><{$goods.[$item.goods_id].name}></a>
          </td>
          <td class="datetime"><{$item.createtime|cdate:SDATE_STIME}></td>
          <td class="actions">
          <a href="#" class="action-show-comment active" rel='{"goods_id":"<{$item.goods_id}>","order_id":"<{$item.order_id}>","product_id":"<{$item.product_id}>" }'><{t}>评论<{/t}></a>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="comment-cell"></td>
        </tr>
        <{/if}>
      <{/foreach}>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="comment-cell">
            <form action="<{link app=b2c ctl=wap_comment act=toComment arg0=discuss}>" method="post" id="post_comment" class="post-comment hide" data-type="ajax">
              <input type="hidden" name="goods_id">
              <input type="hidden" name="product_id">
              <input type="hidden" name="order_id">
              <div class="publish_comment">
                  <{foreach from=$comment_goods_type item=comment_goods_type}>
                  <div class="grades">
                    <span class="tag" style="display:inline-block;text-align:right;width:100px;"><{$comment_goods_type.name}>：</span>
                    <div class="star big s_5"></div>
                    <input type="hidden" class="action-score" name="point_type[<{$comment_goods_type.type_id}>][point]" value="5">
                  </div>
                  <{/foreach}>
                  <div class="sub-label-side"><{$submit_comment_notice}></div>
                  
                  
                  <!--留言开始-->
	 <div class="am-form-group" style="width:100%">
      <textarea  style="width:100%" rows="5"  placeholder="欢迎发表回复，最多1000字。" name="comment" id="doc-ta-1"></textarea>
    </div>
   <!--留言结束-->
   <div class="am-margin-bottom-xs"><input type="checkbox" name="hidden_name" value="YES"  id=""> <{t}>匿名发表<{/t}>&nbsp;&nbsp;</div>
                  
    <div class="am-modal-footer" style="width:100%">
	<button id="ajax-submit" class="am-btn  am-btn-warning am-fr"  style="width:100%" type="button">提交</button>
    </div>

              </div>
            </form>
          </td>
        </tr>
      </tfoot>
    </table>
    <div style="text-align:center;"><{wap_pagers data=$pager}></div>
    <{else}>
    <table class="member-grid am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
      <tbody class="first">
        <tr><td colspan="4" class="no-information"><{t}>暂无未评论商品<{/t}></td></tr>
      </tbody>
    </table>
    <{/if}>
    <!--
    说明：由于三个月后的订单将被归档，所以请在下单三个月内对完成订单的商品进行评价，超过三个月将无法进行评价！
    -->
  </div>  
<{if $list}>
<script>
var container = $('#member_nocomment');
// var content = container.getElement('tbody');
// if(content) {
//     post.setStyle('width', post.getSize().x - post.getPatch('padding', 'border').x);
//     openComment(content, content.getElement('.action-show-comment'));
//     starGrade('scores_list');
// }
container.find('.action-show-comment').on('click',function(){
  var form = container.find('.post-comment');
  var tr = $(this).parents('tr');
  var id = $.parseJSON(this.getAttribute('rel'));
  tr.next().find('td').append( form.removeClass('hide') );
  if(id){
    form.find('input[name=goods_id]').val( id.goods_id );
    form.find('input[name=product_id]').val( id.product_id );
    form.find('input[name=order_id]').val( id.order_id );
  }
});
$('.action-fill-textarea').on('input',function(){
  var cur = $(this).next().find('b'), max = 1000;
  if(this.value.length > max) {
      this.value = this.value.substr(0, max);
      js_alert('js-alert','内容超限，最多输入 ' + max + ' 字');
      //alert('内容超限，最多输入 ' + max + ' 字');
  }
  cur.text(1000 - this.value.length);
});

$('.star').on('click',function(event){
    var x = event.offsetX;
    if(x<25){
        this.className = 'star big s_1';
        $(this).next().val(1);
        return;
    }
    if(x<50){
        this.className = 'star big s_2';
        $(this).next().val(2);
        return;
    }
    if(x<75){
        this.className = 'star big s_3';
        $(this).next().val(3);
        return;
    }
    if(x<100){
        this.className = 'star big s_4';
        $(this).next().val(4);
        return;
    }
    if(x<125){
        this.className = 'star big s_5';
        $(this).next().val(5);
        return;
    }
});

$("#ajax-submit")
.bind(
		"click",
		function() {

			$
					.ajax({
						url : '<{link app=b2c ctl=wap_comment act=toComment arg0=discuss}>',

						type : 'POST',

						data : {
							<{foreach from=$comment_goods_type item=comment_goods_type}>
							"point_type[<{$comment_goods_type.type_id}>][point]":$("input[name='point_type[<{$comment_goods_type.type_id}>][point]']").val(),
							<{/foreach}>
							"hidden_name":$("input[name='hidden_name']").val(),
							"comment":$("#doc-ta-1").val(),
							"goods_id":$("input[name='goods_id']").val(),
							"product_id":$("input[name='product_id']").val(),
							"order_id":$("input[name='order_id']").val(),
							"hidden_name":$("input[name='hidden_name']").val()
							
						},

						dataType : 'html',

						timeout : 3000,

						error : function() {
							js_alert('js-alert','请求失败');
							//alert('请求失败');
						},

						success : function(
								result) {
							jsonobj = eval('('
									+ result
									+ ')');
							if (jsonobj.success) {
								location.href = jsonobj.redirect;
							} else {
								js_alert('js-alert',jsonobj.error);
								if(jsonobj.redirect){
									location.href = jsonobj.redirect;
								}
							}
						}

					});
		});

</script>
<{/if}>