<br />
<div class="top_extra">
	<div class="large">
		<div class="ColColorOrange clearfix">
			<div class="span-auto" style="font-size:0.8em;"> 	
			说明：触屏系统，顶部轮番广告只支持2种类型：图片、视频，<br />
			2种类型只能同时共存1种，有视频只显示视频，没有视频显示图片.<br />
			视频上传，使用大文件上传技术，只支持chrome 或 Firefox 5以上，或IE10以上的浏览器。<br />
			门店电视触屏会每5分钟同步一次。所以后台修改后，门店屏不用人工刷新，5分钟后。就会变化。<br />
			排序：从大到小<br />
			如果不选择门店，将是系统默认广告。<br />
			门店前台地址是：<a href="/wap/touchscreen.html" target="_blank">/wap/touchscreen.html</a>
			</div>
		</div>
	</div>
</div>