
<!-- Header -->
<{include file='wap/member/header.html' title=$title }>



<div class="am-list-news-bd">
    <ul class="am-list">
      <!--缩略图在标题左边-->
	  <{foreach from=$alist_date key=k item=v}>
      <li class="am-g am-list-item-desced  am-list-item-thumb-left" style=" width:96%;margin:2%; border:1px solid #ccc; border-radius:5px;">
        <div style="border-bottom:1px dotted #ddd; margin-bottom:5px;" >
          <div class="am-list-news-hd am-cf am-padding">
          <div class="am-fl"  > <a <{if($v.is_start)}> href="<{$v.ad_url}>" <{/if}>><{$v.alt_name}></a></div>
           
		  	  <{if $v.is_start=='1'}>
              <button type="button" class="am-btn am-btn-warning am-round am-btn-xs am-fr">进行中</button>
			  <{elseif $v.is_start=='2'}>
			  <button type="button" class="am-btn am-btn-warning am-round am-btn-xs am-fr">即将开始</button>
			  <{else}>
			  <button type="button" class="am-btn am-btn-default am-round am-btn-xs am-fr">已结束</button>
			  <{/if}>
          </div>
        </div>
        <div class="am-u-sm-4 am-list-thumb" style="width:100%" ><a <{if($v.is_start)}> href="<{$v.ad_url}>" <{/if}>><img style="width:100%" src="<{$v.img_url}>"  alt="<{$v.alt_name}>"/></a></div>
        <div style="border-top:1px dotted #ddd; margin-top:5px; clear:both " >
          <div class="am-list-news-hd am-cf am-padding am-fl"  ><i class="am-icon-clock-o am-text-warning"></i>
		  		<span class="am-text-default"><{$v.start_time}>--<{$v.end_time}></span></div>
        </div>
      </li>
	  <{/foreach}>
	  
    </ul>
</div>


<{wap_require file="block/footer_bar.html"}>